com.openexchange.voipnow.json/source/wsdl/Report/Report.wsdl.original

<?xml version="1.0"?>
<definitions xmlns:import7="http://4psa.com/HeaderData.xsd/2.5.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://4psa.com/ReportMessages.xsd/2.5.1" xmlns:tns="http://4psa.com/Report/2.5.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="Report" targetNamespace="http://4psa.com/Report/2.5.1">
	<types>
		<xsd:schema>
			<xsd:import schemaLocation="ReportMessages.xsd" namespace="http://4psa.com/ReportMessages.xsd/2.5.1"/>
			<xsd:import schemaLocation="../HeaderData.xsd" namespace="http://4psa.com/HeaderData.xsd/2.5.1"/>
		</xsd:schema>
	</types>
	<message name="callReportIn">
		<part name="messagePart" element="import0:CallReportRequest"/>
	</message>
	<message name="callReportOut">
		<part name="messagePart" element="import0:CallReportResponse"/>
	</message>
	<message name="callReportInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="callReportOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	
	<message name="callCostsIn">
		<part name="messagePart" element="import0:CallCostsRequest"/>
	</message>
	<message name="callCostsOut">
		<part name="messagePart" element="import0:CallCostsResponse"/>
	</message>
	<message name="callCostsInHeader1">
		<part name="messagePart" element="import7:userCredentials"/>
	</message>
	<message name="callCostsOutHeader1">
		<part name="messagePart" element="import7:serverInfo"/>
	</message>
	<message name="quickStatsIn">
		<part name="messagePart" element="import0:QuickStatsRequest"/>
	</message>
	<message name="quickStatsOut">
		<part name="messagePart" element="import0:QuickStatsResponse"/>
	</message>
	<message name="quickStatsInHeader1">
		<part name="messagePart" element="import7:userCredentials"/>
	</message>
	<message name="quickStatsOutHeader1">
		<part name="messagePart" element="import7:serverInfo"/>
	</message>
	<portType name="ReportInterface">
		<operation name="CallReport">
			<input message="tns:callReportIn"/>
			<output message="tns:callReportOut"/>
		</operation>
		<operation name="CallCosts">
			<input message="tns:callCostsIn"/>
			<output message="tns:callCostsOut"/>
		</operation>
		<operation name="QuickStats">
			<input message="tns:quickStatsIn"/>
			<output message="tns:quickStatsOut"/>
		</operation>
	</portType>
	<binding name="Report" type="tns:ReportInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="CallReport">
			<soap:operation soapAction="http://4psa.com/Report/2.5.1:callReportIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:callReportInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:callReportOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="CallCosts">
			<soap:operation soapAction="http://4psa.com/Report/2.5.1:callCostsIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:callCostsInHeader1" part="messagePart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:callCostsOutHeader1" part="messagePart" use="literal"/>
			</output>
		</operation>
		<operation name="QuickStats">
			<soap:operation soapAction="http://4psa.com/Report/2.5.1:quickStatsIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:quickStatsInHeader1" part="messagePart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:quickStatsOutHeader1" part="messagePart" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ReportPort">
		<port name="ReportPort" binding="tns:Report">
			<soap:address location="https://192.168.32.222:443/soap2/report_agent.php"/>
		</port>
	</service>
</definitions>
