com.openexchange.voipnow.json/lib/source/wsdl/Extension/ExtensionData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://4psa.com/ExtensionData.xsd/2.5.1"
	xmlns:mstns="http://4psa.com/ExtensionData.xsd/2.5.1"
	xmlns:common="http://4psa.com/Common.xsd/2.5.1"
	xmlns:clientData="http://4psa.com/ClientData.xsd/2.5.1"
	xmlns:pbxData="http://4psa.com/PBXData.xsd/2.5.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://4psa.com/ExtensionData.xsd/2.5.1" elementFormDefault="qualified"
	id="ExtensionData">
	<xs:import namespace="http://4psa.com/Common.xsd/2.5.1" schemaLocation="../Common.xsd"/>
	<xs:import namespace="http://4psa.com/ClientData.xsd/2.5.1"
		schemaLocation="../Client/ClientData.xsd"/>
	<xs:import namespace="http://4psa.com/PBXData.xsd/2.5.1" schemaLocation="../PBX/PBXData.xsd"/>
	<xs:complexType name="ExtensionInfo">
		<xs:annotation>
			<xs:documentation>Extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="clientData:ClientInfo">
				<xs:sequence>
					<xs:element name="phoneLang" type="common:code" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Phone language</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="channelRuleId" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Outgoing routing rules group id</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtensionList">
		<xs:annotation>
			<xs:documentation>Extension list data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension user ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extensionID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="login" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Username</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="common:email" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Email address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extensionType" default="term" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="term"/>
						<xs:enumeration value="queue"/>
						<xs:enumeration value="ivr"/>
						<xs:enumeration value="voicecenter"/>
						<xs:enumeration value="conference"/>
						<xs:enumeration value="callback"/>
						<xs:enumeration value="callcard"/>
						<xs:enumeration value="intercom"/>
						<xs:enumeration value="queuecenter"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="extensionNo" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identifier" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique extension user identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Scope identifier for the enrollment server</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtendedExtensionInfo">
		<xs:annotation>
			<xs:documentation>Extension account details data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ExtensionInfo">
				<xs:sequence>
					<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unique client identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extensionID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User status</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cpAccess" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User control panel access</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentName" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chargingPlan" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Charging plan name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="templateID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User template ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Creation date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scope" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Scope identifier for the enrollment server</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accountFlag" default="noneditablelogin" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Account flag. Possible values: noneditablelogin</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="noneditablelogin"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtensionPLInfo">
		<xs:annotation>
			<xs:documentation>Extension permissions and limits data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="soundManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound Management </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sipManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For PHONE TERMINAL extensions only: phone extension SIP management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiUser" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Multi user aware property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callAPIManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call API Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callerIDManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call API Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProvisionManag" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provision Management;value comes from list: 0 for None, 2 for View , 4 for Modify. Default  is 0.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IMManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IM Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundStorage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for sound files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mohStorage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for music on hold files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentCalls" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum public concurrent calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentInternalCalls" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum internal concurrent calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentText2Speech" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum concurrent text to speech. Available only when 'Allow text to speech' is set in Unified Communications settings: System preferences</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="queueMembersMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For QUEUE extension only: maximum number of queue members</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callCardCodesMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For CALLING CARD extension only: maximum number of Calling Card codes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callbackCallerIDMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For CALLBACK only: mximum number of Callback Caller-IDs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="accountExpire" type="common:unlimitedDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Account expiration date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="accountExpireDays" type="common:unlimitedUInt" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Account expiration number of days counted from setup</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>MyVoipNow Management</xs:documentation>
				</xs:annotation>
				<xs:element name="level" default="none" minOccurs="0">
					<xs:annotation>
						<xs:documentation>MyVoipNow level</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="none"/>
							<xs:enumeration value="standard"/>
							<xs:enumeration value="premium"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="advertising" type="common:boolean" default="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Show advertising </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="browserChat" type="common:boolean" default="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Browser chat</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="activeCalls" default="own" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Show active calls: own/group/all</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="own"/>
							<xs:enumeration value="group"/>
							<xs:enumeration value="all"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="callOperations" default="own" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Performe operations on calls: own/group/all</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="own"/>
							<xs:enumeration value="group"/>
							<xs:enumeration value="all"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="recordCalls" default="own" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Record calls: own/group/all</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="own"/>
							<xs:enumeration value="group"/>
							<xs:enumeration value="all"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="whisperOnCall" default="own" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Whisper/Bargein on call: own/group/all</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="own"/>
							<xs:enumeration value="group"/>
							<xs:enumeration value="all"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="unparkCalls" default="parked_by_me" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Unpark calls: parkedByMe/parkedByAnyone</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="parked_by_me"/>
							<xs:enumeration value="parked_by_anyone"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="pickupCalls" default="own" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Pickup calls: own/group/all</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="own"/>
							<xs:enumeration value="group"/>
							<xs:enumeration value="all"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProvisioningInfo">
		<xs:annotation>
			<xs:documentation>Phone provisioning data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="pbxData:DeviceInfo">
				<xs:sequence>
					<xs:element name="provision" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Use provisioning</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="regenerate" type="common:boolean">
						<xs:annotation>
							<xs:documentation>Regenerate provisioning location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension user ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="identifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension user identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>SIP preferences</xs:documentation>
						</xs:annotation>
						<xs:element name="password" type="common:password" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Phone and IM password: at least 6 characters. Default: same password with interface </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dtmf" default="rfc2833" minOccurs="0">
							<xs:annotation>
								<xs:documentation>DTMF mode. Default rfc2833.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="rfc2833"/>
									<xs:enumeration value="inband"/>
									<xs:enumeration value="info"/>
									<xs:enumeration value="auto"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PBXConnected" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A PBX is connected to this extension</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="qualify" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ping extension to check its status </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="codecs" type="common:positiveInteger" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Allowed codecs</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="lockIP" type="common:ip" minOccurs="0"
								maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Lock extension to IP(s) </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:sequence>
								<xs:element name="host" type="common:ip" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Phone is on IP {host} port {port}</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="port" type="common:integer" minOccurs="0"/>
								<xs:element maxOccurs="1" minOccurs="0" name="register"
									type="common:boolean">
									<xs:annotation>
										<xs:documentation>Phone does not register</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:choice>
						<xs:element name="description" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Equipment description</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publishStatus" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Allow phone terminal to publish its own state</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="allowReInvite" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Allow re-invites from this extension </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="forceMWI" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Force enable of MWI </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Equipments">
		<xs:annotation>
			<xs:documentation>Phone brand and model, firmware data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uniqueID" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Equipment unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="model" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone brand and model</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firmware" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="uniqueID" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Firmware unique ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="name" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Firmware description</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="protocol" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Protocol:'https', 'http', 'tftp'</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="http"/>
									<xs:enumeration value="tftp"/>
									<xs:enumeration value="https"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallRuleInfo">
		<xs:annotation>
			<xs:documentation>Incoming call rule data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="match" default="2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rule matches the criteria: o for Match: 0, -1 for Does not match, 1 for Is anonymous and 2 for Is any. Default value: 2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Matches</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Does not match</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Is anonymous</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="number" type="common:rule" minOccurs="0">
				<xs:annotation>
					<xs:documentation>{match} number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intervalID" type="common:positiveInteger" nillable="true"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time interval ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="common:unsignedInt" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Default: first position</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="key" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique key for extension routing rule group</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallRuleTransferInfo">
		<xs:annotation>
			<xs:documentation>Incoming call rule data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transferNumber" type="common:rule" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> Number to transfer to. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ring" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ring number for the number of seconds. Default 30 seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="call" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call extesion when rule is satisfied</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="askForCaller" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Before connecting ask for caller name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transferFromCallee" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allow destination to transfer call to another number. By default does not allow transfer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCodeInfo">
		<xs:annotation>
			<xs:documentation>Calling card code data </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="common:string">
				<xs:annotation>
					<xs:documentation>Calling card code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIN" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PIN number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credit" type="common:unlimitedUFloat" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Credit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderNo" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCodeList">
		<xs:annotation>
			<xs:documentation>Calling card code list data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CardCodeInfo">
				<xs:sequence>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Calling card code ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="common:boolean">
						<xs:annotation>
							<xs:documentation>Calling card code status</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recharges" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The number of recharges</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="availableCredit" type="common:unlimitedUFloat" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Credit left</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Creation date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CallerIDInfo">
		<xs:annotation>
			<xs:documentation>Authorized Caller ID data </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CallerID" type="common:string">
				<xs:annotation>
					<xs:documentation>Authorized Caller-ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIN" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PIN number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credit" type="common:unlimitedUFloat" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Initial credit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderNo" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallerIDList">
		<xs:annotation>
			<xs:documentation>Authorized Caller ID list data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CallerIDInfo">
				<xs:sequence>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Authorized Caller ID record ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="common:boolean">
						<xs:annotation>
							<xs:documentation>Authorized Caller ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recharges" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The number of recharges</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="availableCredit" type="common:unlimitedUFloat" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Credit left</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Creation date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreditInfo">
		<xs:annotation>
			<xs:documentation>Calling card code/Authorized Caller-ID credit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger">
				<xs:annotation>
					<xs:documentation>Calling card code/Caller-ID record ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credit" type="xs:float">
				<xs:annotation>
					<xs:documentation>Calling card code/Caller-ID credit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderNo" type="common:text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RechargeInfo">
		<xs:annotation>
			<xs:documentation>Calling card code/Caller-ID rechargement data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger">
				<xs:annotation>
					<xs:documentation>Rechargement ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credit" type="xs:float">
				<xs:annotation>
					<xs:documentation>Creadit added</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="availableCredit" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Credit left</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderNo" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Order number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Creation date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneTerminal">
		<xs:annotation>
			<xs:documentation>Phone terminal extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PhoneCallerIDInfo">
				<xs:sequence>
					<xs:element name="mohFolder" type="common:string" default="-1" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Default music on hold folder. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="noAnswer" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time after which the call is considered with 'No answer'. Default value: 30 seconds</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parkTimeout" type="common:integer" default="180" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Parking timeout. Default value:180 seconds</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IM" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Enable chat server access</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="callWaiting" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Enable call waiting</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Do not disturb</xs:documentation>
						</xs:annotation>
						<xs:element name="dnd" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Function activation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dndSndActive" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Do not disturb sound active</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dndSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Do not disturb sound</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Password protection</xs:documentation>
						</xs:annotation>
						<xs:element name="phoneAccess" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Protected phone access active </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="block" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Restrict access to phone. This option is available only when 'phoneAccess' is set to true.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="phoneAccessPassword" type="common:string" default=""
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Password to access telephony
</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhoneCallerIDInfo">
		<xs:annotation>
			<xs:documentation>CallerID received in call information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sendCallerID" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caller-ID name in public calls. Values: 1- server, 0-equipment, 3-user. Default: by server.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>By server</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>By equipment</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>By user</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="callerName" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parameter used when 'sendCallerID' is set to user (value = 3). Default value is set to the extension's name.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sendCallerNo" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Caller-ID number in public calls. Values: 1- server, 0-equipment, 3-user. Default: by server.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>By server</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>By equipment</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>By user</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="callerNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parameter used when 'sendCallerNo' is set to user (value = 3). Default value is set to the extension's phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultCallerIDRef" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Default callerID number; this parameter is used when 'sendCallerNo' is set to server (value=1). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callerIDRefs" type="common:positiveInteger" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Currently used CallerID numbers; this parameter is optional and can be set only if 1 - server option is provided for sendCallerNo field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="anonymous" type="common:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Authorize sending CallerID on public calls; if it is set to true then CallerID will be Anonymous on public calls. Default it is set to false.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callerIDInternal" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Send public CallerID on internal calls (if public callerID is available)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callerIDOnTransfer" type="common:boolean" default="false"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preserve original CallerID on transfered calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SIPIdentity" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Send SIP P-Asserted-Identity header</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtendedPhoneTerminal">
		<xs:annotation>
			<xs:documentation>Extended phone terminal extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PhoneTerminal">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Overview</xs:documentation>
					</xs:annotation>
					<xs:element name="terminal" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Terminal advertised by the extension if registered</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension state, from the network perspective connection</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="registration" type="common:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension's registration expires on/expired on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IP" type="common:ip" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Registered extension IP address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IMLogin" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Instant message login</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="voicemailMsgQuota" type="common:string" minOccurs="0"/>
					<xs:element name="faxMsgQuota" type="common:string" minOccurs="0"/>
					<xs:element name="musicFilesQuota" type="common:string" minOccurs="0"/>
					<xs:element name="soundFilesQuota" type="common:string" minOccurs="0"/>
					<xs:element name="recordedMsgQuota" type="common:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Queue">
		<xs:annotation>
			<xs:documentation>Queue extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PhoneCallerIDInfo">
				<xs:sequence>
					<xs:element name="name" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="size" type="common:unlimitedUInt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue size</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="distribution" default="ringall" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Call distribution algorithm. Default value: ring all</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ringall"/>
								<xs:enumeration value="leastrecent"/>
								<xs:enumeration value="fewestcalls"/>
								<xs:enumeration value="random"/>
								<xs:enumeration value="rrmemory"/>
								<xs:enumeration value="linear"/>
								<xs:enumeration value="wrandom"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="waitFor" type="common:integer" default="20" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The period of time before retrying all agents again. Default value: 20 seconds</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="service" type="xs:decimal" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Service level agreement (seconds)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="record" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Record all queue conversations</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordStorage" type="common:unlimitedUInt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Call recording storage space (MB)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Local agents behavior</xs:documentation>
						</xs:annotation>
						<xs:element name="agentMaxRings" type="common:integer" default="20"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ring an agent for a maximum of {agentMaxRings} seconds. Default value: 20 seconds.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="callBetween" type="common:integer" default="30"
							nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Maintain a minimum of {callBetween} seconds between calls. Default value: 30 seconds.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="delayFor" type="common:integer" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Delay before connecting agent to caller. Default value: 0 seconds</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="pickupAnnounceSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Pick-up announcement sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reportWaitTime" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Report how long the user waited in the queue</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="restartTimer" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Restart timer if agent does not answer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Caller behavior</xs:documentation>
						</xs:annotation>
						<xs:element name="welcomeSndActive" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Enable/disable welcomeSnd</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="welcomeSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Welcome sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="announcePosition" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Announce Position/Estimated Hold enabled</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="announcePosFreq" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Announce Position/Estimated Hold time</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="announceHoldTime" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Announce hold time</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="periodicAnnounceFreq" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Periodic announcements period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="exitToExtension" type="common:positiveInteger"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Exit to extension on key pressed: extension user ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Sound files setup</xs:documentation>
						</xs:annotation>
						<xs:element name="musicOnHoldFolder" type="common:string" default="-1"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Music on hold folder.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="thereAreSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'There are' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="holdTimeSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'The current estimated hold time is' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="youAreNextSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'You are now first in line' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="thankYouSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'Thank you for your patience' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="callsWaitingSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'Calls waiting' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reportHoldSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'Hold time' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="periodicAnnounceSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'All reps busy / wait for next' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="secondSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'Seconds' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="minuteSnd" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>'Minutes' sound ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="timeoutStatus" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Enable / disable setting</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="timeout" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Transfer extension  ID when a caller has been waiting in the queue</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="timeoutParam" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of seconds a caller has been waiting in the queue</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="allowCalls" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Allow calls to enter queue; Set 'no' for 'There are agents on queue, even
logged off', 'strict' for 'At least one agent is logged in and unpaused',
'loose' for 'At least one agent is logged in, maybe paused '</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="no"/>
									<xs:enumeration value="strict"/>
									<xs:enumeration value="loose"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="emptyStatus" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Enable / disable setting</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="emptyTransfer" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>When calls are not allowed to enter queue
transfer them to extension: extension user ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="dropCalls" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Drop calls from queue; Set 'no' for Never,  'strict' for All agents paused or logoff, 'loose' for All agents logoff</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="no"/>
									<xs:enumeration value="strict"/>
									<xs:enumeration value="loose"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="unavailableStatus" type="common:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Enable / disable setting</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unavailableTransfer" type="common:positiveInteger"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>When calls are dropped from queue transfer them to
extension: extension user ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="disconnectSndActive" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Enable/disable disconnectSnd</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disconnectSnd" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Sound id for the sound played on disconect due to queue full</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExtendedQueue">
		<xs:annotation>
			<xs:documentation>Extended queue extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Queue">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Overview</xs:documentation>
					</xs:annotation>
					<xs:element name="agents" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Number of queue agents</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="registeredAgents" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Number of registered agents</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supervisors" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Number of queue supervisors</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QueueCenterInfo">
		<xs:annotation>
			<xs:documentation>Queue center login extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PhoneCallerIDInfo">
				<xs:sequence>
					<xs:element name="connectionSnd" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Sound played before connection to queue login center.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="connectionSndActive" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Play sound before connecting to queue login center.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Voicemail">
		<xs:annotation>
			<xs:documentation>Phone terminal voicemail function data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="status" type="common:boolean" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/ Disable function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mailbox storage space (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoDelDays" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Autodelete messages older than {autodeleteDays}</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notify" default="message" minOccurs="0">
				<xs:annotation>
					<xs:documentation>New message notification method : alert or message. Default value: message</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="alert"/>
						<xs:enumeration value="message"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="password" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Voicemail password </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoAnswer" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/disable auto-answer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoAnswerTime" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time after which voicemail automatically answers the call (seconds)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="directory" type="common:boolean" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Add extension to company directory </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Conference">
		<xs:annotation>
			<xs:documentation>Phone terminal conference function data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="status" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/ Disable function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="size" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Conference room size</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeout" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timeout on empty conference room </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mohActive" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/Disable music on hold </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIN" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prompt for PIN on conference creation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="close" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Close the conference when all conference moderators exit </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="announceUserCount" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Announce user count on joining conference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="announceUser" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Announce users joining/leaving</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallRecording">
		<xs:annotation>
			<xs:documentation>Phone terminal call recording function data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="status" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/ Disable function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call recording storage space (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trigger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Record triggered when {recordOverPhone}. Default value: 0</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Never</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>When *1 is pressed</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>All calls are recorded</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>Only conferences</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="recordSndActive" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/disable record sound</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recordSnd" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound played when call recording starts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FaxCenter">
		<xs:annotation>
			<xs:documentation>Phone terminal fax center function data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="status" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/ Disable function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for fax files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoDelDays" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Autodelete fax messages older than {autodeleteDays}</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notify" default="alert" minOccurs="0">
				<xs:annotation>
					<xs:documentation>New fax notification method : alert or fax. Default value: alert</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="alert"/>
						<xs:enumeration value="fax"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="autoAnswer" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/disable auto-answer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoAnswerSeconds" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time after which faxautomatically answers the call</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fax2voicemail" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If not a fax, send to voicemail</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxFromEmail" type="common:email" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Activate email address from which faxes are accepted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxSndActive" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enable/disable fax sound</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxSnd" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound played before sending fax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agent">
		<xs:annotation>
			<xs:documentation>Queue agent data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger" minOccurs="0"/>
			<xs:element name="supervisor" type="common:boolean" minOccurs="0"/>
			<xs:element name="penalty" type="common:integer" minOccurs="0"/>
			<xs:element name="extensionNo" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueueMember">
		<xs:annotation>
			<xs:documentation>Queue member data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="queueID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Queue extension user ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Queue name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supervisor" type="common:boolean" minOccurs="0"/>
			<xs:element name="penalty" type="common:integer" minOccurs="0"/>
			<xs:element name="status" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Queue extension status</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConferenceInfo">
		<xs:annotation>
			<xs:documentation>Conference extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PhoneCallerIDInfo">
				<xs:sequence>
					<xs:element name="connectionSndActive" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation> Play sound  before connecting to conference center.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="connectionSnd" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Sound played before connectiong to cenference center</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="size" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Conference room size</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="record" default="0" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Record conference conversations. Possible values: 0-never, 1-always, 2-user's choice</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:enumeration value="0"/>
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="storage" type="common:unlimitedUInt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Call recording storage space (MB)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mohActive" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Enable/Disable music on hold </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mohFolder" type="common:string" default="-1" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Default music on hold folder. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="close" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Close the conference when all conference moderators exit </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="announceUserCount" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Announce user count on joining conference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="announceUser" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Announce users joining/leaving</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVR">
		<xs:annotation>
			<xs:documentation>IVR extension data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PhoneCallerIDInfo">
				<xs:sequence>
					<xs:element name="name" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>IVR name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeout" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Timeout</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mohFolder" type="common:string" default="-1" nillable="true"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Default music on hold folder. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lifetime" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>IVR session lifetime</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lifetimeExpire" default="hangup" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Action on lifetime expires event. Default hangup.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="hangup"/>
								<xs:enumeration value="transfer"/>
								<xs:enumeration value="play"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="transferExtension" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>On IVR lifetime expire, transfer to extension. For lifetimeExpire:transfer trigger ONLY</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sound" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>On IVR lifetime expire, play sound. For lifetimeExpire:play trigger ONLY</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VoicemailInfo">
		<xs:annotation>
			<xs:documentation>Voicemail extension data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="connectionSndActive" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Play sound  before connecting to conference center.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="connectionSnd" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound played before connectiong to cenference center</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemoteAgent">
		<xs:annotation>
			<xs:documentation>Remote agent data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="common:string">
				<xs:annotation>
					<xs:documentation>Remote agent name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agentID" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Remote agent ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="penalty" type="common:integer" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Penalty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="registration" default="phone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Agent phone number : fixed number (value=phone), registration number (value=register); default is set to registration number.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="common:string">
						<xs:enumeration value="phone"/>
						<xs:enumeration value="register"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="phoneNumber" type="common:string" nillable="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fixed agent phone number; this parameter is required only if 'registration' was set to fixed number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requireConfirmation" type="common:boolean" nillable="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Require confirmation on taking calls</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
