com.openexchange.voipnow.json/source/wsdl/Extension/ExtensionMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://4psa.com/ExtensionMessages.xsd/2.5.1"
	xmlns:extensionData="http://4psa.com/ExtensionData.xsd/2.5.1"
	xmlns:common="http://4psa.com/Common.xsd/2.5.1"
	xmlns:messagesInfo="http://4psa.com/ExtensionMessagesInfo.xsd/2.5.1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://4psa.com/ExtensionMessages.xsd/2.5.1" elementFormDefault="qualified"
	id="ExtensionMessages">
	<xs:import namespace="http://4psa.com/ExtensionData.xsd/2.5.1"
		schemaLocation="ExtensionData.xsd"/>
	<xs:import namespace="http://4psa.com/ExtensionMessagesInfo.xsd/2.5.1"
		schemaLocation="ExtensionMessagesInfo.xsd"/>
	<xs:import namespace="http://4psa.com/Common.xsd/2.5.1" schemaLocation="../Common.xsd"/>
	<xs:element name="AddExtensionRequest">
		<xs:annotation>
			<xs:documentation>Add extension: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:ExtensionInfo">
					<xs:sequence>
						<xs:element name="templateID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension template ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="extensionNo" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="extensionType" default="term" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension type</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="term"/>
									<xs:enumeration value="queue"/>
									<xs:enumeration value="ivr"/>
									<xs:enumeration value="voicecenter"/>
									<xs:enumeration value="conference"/>
									<xs:enumeration value="callback"/>
									<xs:enumeration value="callcard"/>
									<xs:enumeration value="intercom"/>
									<xs:enumeration value="queuecenter"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:choice>
							<xs:element name="parentID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Owner ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="parentIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Owner identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="parentLogin" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Owner login</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="fromUser" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user ID for requests made on behalf of
										this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="fromUserIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user identifier for requests made on
										behalf of this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="chargingPlanID" type="common:positiveInteger"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Charging plan ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="chargingPlanIdentifier" type="common:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Charging plan identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="verbose" type="common:boolean" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Response verbosity. Set 1 to receive detailed
									information on newly created account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="notifyOnly" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mask of 4 bits to setup notification preferences
									ARCE (ADMIN{0/1}, RESELLER{0/1}, CLIENT{0/1},
									EXTENSION{0/1})</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="scope" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Scope identifier for the enrollment server.
									Scope:automation is reserved for VoipNow
									Automation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dku" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Deployment keeping unit</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="accountFlag" default="noneditablelogin" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Account flag. Possible values:
									noneditablelogin</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="noneditablelogin"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddExtensionResponse">
		<xs:annotation>
			<xs:documentation>Add extension: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="messagesInfo:GetExtensionDetailsResponseType">
					<xs:sequence>
						<xs:element name="result" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Operation result</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="success"/>
									<xs:enumeration value="partial"/>
									<xs:enumeration value="failure"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="notice" type="common:notice" minOccurs="0"
							maxOccurs="unbounded"/>
						<xs:element name="template" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension template</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditExtensionRequest">
		<xs:annotation>
			<xs:documentation>Edit extension: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:ExtensionInfo">
					<xs:sequence>
						<xs:choice>
							<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Extension user ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="identifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Extension user identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="fromUser" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user ID for requests made on behalf of
										this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="fromUserIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user identifier for requests made on
										behalf of this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="chargingPlanID" type="common:positiveInteger"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Charging plan ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="chargingPlanIdentifier" type="common:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Charging plan identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditExtensionResponse">
		<xs:annotation>
			<xs:documentation>Edit extension: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="identifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>User unique identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetExtensionStatusRequest">
		<xs:annotation>
			<xs:documentation>Change extension status:request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="common:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="phoneStatus" default="1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Client phone status. Default value:1.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1">
								<xs:annotation>
									<xs:documentation>Customer can dial out and receive
										calls</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="16">
								<xs:annotation>
									<xs:documentation>Customer can be called and can call
										internally</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="32">
								<xs:annotation>
									<xs:documentation>Customer can be called only</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="64">
								<xs:annotation>
									<xs:documentation>Customer can not use phone
										service</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="scope" type="common:string" default="automation" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Scope identifier for the enrollment server.
							Scope:automation is reserved for VoipNow Automation</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetExtensionStatusResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Change extension status: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetExtensionCpAccessRequest">
		<xs:annotation>
			<xs:documentation>Change extension control panel access:request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cpAccess" type="common:boolean">
					<xs:annotation>
						<xs:documentation>Extension status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetExtensionCpAccessResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Change extension control panel access: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetExtensionsRequest">
		<xs:annotation>
			<xs:documentation>Get all extensions: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="extensionType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension type</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="term"/>
							<xs:enumeration value="queue"/>
							<xs:enumeration value="ivr"/>
							<xs:enumeration value="voicecenter"/>
							<xs:enumeration value="conference"/>
							<xs:enumeration value="queuecenter"/>
							<xs:enumeration value="callback"/>
							<xs:enumeration value="callcard"/>
							<xs:enumeration value="intercom"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="templateID" type="common:positiveInteger" minOccurs="0"/>
				<xs:element name="serverID" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set CTRLPANEL to filter only account added from 4PSA
							VoipNow control panel</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="filter" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Filter extension list name, company, email, login,
							number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="scope" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Scope identifier for the enrollment server.
							Scope:automation is reserved for VoipNow Automation</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="parentID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetExtensionsResponse" type="messagesInfo:GetExtensionResponseType">
		<xs:annotation>
			<xs:documentation>Get all extensions: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetExtensionDetailsRequest">
		<xs:annotation>
			<xs:documentation>Get details extension data: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Either of</xs:documentation>
			</xs:annotation>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetExtensionDetailsResponse"
		type="messagesInfo:GetExtensionDetailsResponseType">
		<xs:annotation>
			<xs:documentation>Get detailed extension data: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelExtensionRequest">
		<xs:annotation>
			<xs:documentation>Delete extensions: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelExtensionResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete extensions: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetExtensionPLRequest">
		<xs:annotation>
			<xs:documentation>Update extension permissions and limits: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:ExtensionPLInfo">
					<xs:sequence minOccurs="0">
						<xs:element name="shareVoicemail" type="common:share" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Share voicemail messages with other
									users</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="shareFaxes" type="common:share" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Share fax messages with other
									users</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="shareRecordings" type="common:share" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Share recorded messages with other
									users</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="shareCallHistory" type="common:share" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Share call history with other
									users</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetExtensionPLResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Update extension permissions and limits: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetExtensionPLRequest">
		<xs:annotation>
			<xs:documentation>Get extension permissions and limits: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetExtensionPLResponse" type="messagesInfo:GetExtensionPLResponseType">
		<xs:annotation>
			<xs:documentation>Get extension permissions and limits: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetProvisionRequest" type="extensionData:ProvisioningInfo">
		<xs:annotation>
			<xs:documentation>Set phone terminal provisioning: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetProvisionResponse" type="messagesInfo:ProvisionResponseType">
		<xs:annotation>
			<xs:documentation>Phone terminal provisioning: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetProvisionFileRequest">
		<xs:annotation>
			<xs:documentation>Phone terminal provisioning file: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetProvisionFileResponse" type="messagesInfo:ProvisionResponseType">
		<xs:annotation>
			<xs:documentation>Phone terminal provisioning file: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddCallRulesInRequest">
		<xs:annotation>
			<xs:documentation>Add incoming call rules: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rule" maxOccurs="10">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="busy" type="extensionData:CallRuleInfo">
									<xs:annotation>
										<xs:documentation>Play busy</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="congestion" type="extensionData:CallRuleInfo">
									<xs:annotation>
										<xs:documentation>Play congestion</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="hangup" type="extensionData:CallRuleInfo">
									<xs:annotation>
										<xs:documentation>Hangup calls</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="transfer">
									<xs:annotation>
										<xs:documentation>Transfer to number or
											voicemail</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:choice>
												<xs:element name="toNumbers"
												type="extensionData:CallRuleTransferInfo">
												<xs:annotation>
												<xs:documentation>Transfer to
												number</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="toVoicemail"
												type="common:boolean">
												<xs:annotation>
												<xs:documentation>Transfer to
												voicemail</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:choice>
												<xs:element name="callStatus" minOccurs="0">
												<xs:annotation>
												<xs:documentation>Call status. 0 for Does not
												matter, 1 for Not Answered, 2 for Rejected, 3 for
												Busy</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:integer">
												<xs:enumeration value="0"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element name="extensionStatus" minOccurs="0">
												<xs:annotation>
												<xs:documentation>Extension status. 0 for Does not
												matter, 1 for Registered, -1 for Not
												Registered.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:integer">
												<xs:enumeration value="-1"/>
												<xs:enumeration value="0"/>
												<xs:enumeration value="1"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element name="final" type="common:boolean"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Make this rule
												final</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="cascade">
									<xs:annotation>
										<xs:documentation>Cascade calls rule</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:element name="ring" type="common:integer">
												<xs:annotation>
												<xs:documentation>Time in seconds to call numbers
												until answer</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="final" type="common:boolean"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Make this rule
												final</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="toNumbers" maxOccurs="10">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="number" type="common:string">
												<xs:annotation>
												<xs:documentation>Number to
												call</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="ringAfter" type="common:integer">
												<xs:annotation>
												<xs:documentation>Call number after time interval
												in seconds</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="authenticate">
									<xs:annotation>
										<xs:documentation>Authenticate rule</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:element name="password" type="common:password">
												<xs:annotation>
												<xs:documentation>Required
												password</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="soundID"
												type="common:positiveInteger" minOccurs="0">
												<xs:annotation>
												<xs:documentation>Sound to play</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="final" type="common:boolean"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Make this rule
												final</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="setCallPriority">
									<xs:annotation>
										<xs:documentation>For queue extensions
											only</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:element name="priority" type="common:integer">
												<xs:annotation>
												<xs:documentation>Priority of the
												call</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddCallRulesInResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Add incoming call rules: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EditCallRulesInRequest">
		<xs:annotation>
			<xs:documentation>Edit incoming call rules (change rule's order, modify status for group
				rules) request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rule" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:choice minOccurs="0">
								<xs:element name="busy" type="extensionData:CallRuleInfo"
									minOccurs="0">
									<xs:annotation>
										<xs:documentation>Play busy</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="congestion" type="extensionData:CallRuleInfo"
									minOccurs="0">
									<xs:annotation>
										<xs:documentation>Play congestion</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="hangup" type="extensionData:CallRuleInfo"
									minOccurs="0">
									<xs:annotation>
										<xs:documentation>Hangup calls</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="transfer" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Transfer to number or
											voicemail</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:choice>
												<xs:element name="toNumbers"
												type="extensionData:CallRuleTransferInfo">
												<xs:annotation>
												<xs:documentation>Transfer to
												number</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="toVoicemail"
												type="common:boolean">
												<xs:annotation>
												<xs:documentation>Transfer to
												voicemail</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:choice>
												<xs:element name="callStatus" minOccurs="0">
												<xs:annotation>
												<xs:documentation>Call status. 0 for Does not
												matter, 1 for Not Answered, 2 for Rejected, 3 for
												Busy</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:integer">
												<xs:enumeration value="0"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element name="extensionStatus" minOccurs="0">
												<xs:annotation>
												<xs:documentation>Extension status. 0 for Does not
												matter, 1 for Registered, -1 for Not
												Registered.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="xs:integer">
												<xs:enumeration value="-1"/>
												<xs:enumeration value="0"/>
												<xs:enumeration value="1"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element name="final" type="common:boolean"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Make this rule
												final</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="cascade" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Cascade calls rule</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:element name="ring" type="common:integer"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Time in seconds to call numbers
												until answer</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="final" type="common:boolean"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Make this rule
												final</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="toNumbers" minOccurs="0"
												maxOccurs="10">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="number" type="common:string">
												<xs:annotation>
												<xs:documentation>Number to
												call</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="ringAfter" type="common:integer">
												<xs:annotation>
												<xs:documentation>Call number after time interval
												in seconds</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="authenticate" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Authenticate rule</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:element name="password" type="common:password">
												<xs:annotation>
												<xs:documentation>Required
												password</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="soundID"
												type="common:positiveInteger" minOccurs="0">
												<xs:annotation>
												<xs:documentation>Sound to play</xs:documentation>
												</xs:annotation>
												</xs:element>
												<xs:element name="final" type="common:boolean"
												minOccurs="0">
												<xs:annotation>
												<xs:documentation>Make this rule
												final</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="setCallPriority" minOccurs="0">
									<xs:annotation>
										<xs:documentation>For queue extensions
											only</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="extensionData:CallRuleInfo">
												<xs:sequence>
												<xs:element name="priority" type="common:integer">
												<xs:annotation>
												<xs:documentation>Priority of the
												call</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="ruleID" type="common:positiveInteger">
								<xs:annotation>
									<xs:documentation>Incoming call rule ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="status" type="common:boolean" default="1"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Incoming call rule status</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="order" type="common:unsignedInt" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Call rule order within incoming call rules group (List of
							rule IDs)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditCallRulesInResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Edit incoming call rules (change rule's order, modify status for group
				rules) response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetCallRulesInRequest">
		<xs:annotation>
			<xs:documentation>Get incoming call rules request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="userID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="userIdentifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCallRulesInResponse" type="messagesInfo:GetCallRulesInResponseType">
		<xs:annotation>
			<xs:documentation>Get incoming call rules list response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelCallRulesInRequest">
		<xs:annotation>
			<xs:documentation>Delete incoming call rules: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Incoming call rule ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelCallRulesInResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete incoming call rules: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetAvailableCallerIDRequest">
		<xs:annotation>
			<xs:documentation>Get list of available Caller-IDs: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAvailableCallerIDResponse"
		type="messagesInfo:GetAvailableCallerIDResponseType">
		<xs:annotation>
			<xs:documentation>Get list of available Caller-IDs response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddCardCodeRequest">
		<xs:annotation>
			<xs:documentation>Add calling card code: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="extensionData:CardCodeInfo" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Calling card code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddCardCodeResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Add calling card code: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EditCardCodeRequest">
		<xs:annotation>
			<xs:documentation>Edit card code (modify status, code and PIN number):
				request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Calling card code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PIN" type="xs:decimal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>PIN number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="status" type="common:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Calling card status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Calling card code ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditCardCodeResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Edit calling card code: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetCardCodeRequest">
		<xs:annotation>
			<xs:documentation>Get calling card code: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Either of</xs:documentation>
				</xs:annotation>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Calling card code ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="filter" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Filter card codes list by code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The extension user ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="userIdentifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The extension user identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCardCodeResponse" type="messagesInfo:GetCardCodeResponseType">
		<xs:annotation>
			<xs:documentation>Get calling card code: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelCardCodeRequest">
		<xs:annotation>
			<xs:documentation>Delete calling card code: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Calling card code ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelCardCodeResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete calling card code: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddCardCodeCreditRequest">
		<xs:annotation>
			<xs:documentation>Add a calling card code credit: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codeCredit" type="extensionData:CreditInfo" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Calling card code credit</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddCardCodeCreditResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Add a calling card code credit: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetCardCodeRechargesRequest">
		<xs:annotation>
			<xs:documentation>Get calling card code recharges history: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Calling card code ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCardCodeRechargesResponse">
		<xs:annotation>
			<xs:documentation>Get calling card code recharges history: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="messagesInfo:GetCardCodeCreditResponseType">
					<xs:sequence>
						<xs:element name="notice" type="common:notice" minOccurs="0"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddAuthCallerIDRequest">
		<xs:annotation>
			<xs:documentation>Add authorized CallerID to callback extension:
				request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CallerID" type="extensionData:CallerIDInfo" maxOccurs="10">
					<xs:annotation>
						<xs:documentation>Calling card code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddAuthCallerIDResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Add authorized CallerID to callback extension:
				response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EditAuthCallerIDRequest">
		<xs:annotation>
			<xs:documentation>Edit authorized CallerID (modify status, Caller-ID and PIN number):
				request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Authorized Caller ID record ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CallerID" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Authorized Caller ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PIN" type="xs:decimal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>PIN number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="status" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Authorized caller ID status</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditAuthCallerIDResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Edit authorized CallerID: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetAuthCallerIDRequest">
		<xs:annotation>
			<xs:documentation>Get authorized CallerID for callback extension:
				request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Either of</xs:documentation>
				</xs:annotation>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Authorized Caller-ID record ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="filter" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Filter authorized CallerID list by
								Caller-ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension user ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="userIdentifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension user identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAuthCallerIDResponse" type="messagesInfo:GetCallerIDResponseType">
		<xs:annotation>
			<xs:documentation>Get authorized CallerID for callback extension:
				response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelAuthCallerIDRequest">
		<xs:annotation>
			<xs:documentation>Delete authorized CallerID from callback extension:
				request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Authorized Caller-ID record ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelAuthCallerIDResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete authorized CallerID from callback extension:
				response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddAuthCallerIDCreditRequest">
		<xs:annotation>
			<xs:documentation>Add authorized CallerID credit: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CallerIDCredit" type="extensionData:CreditInfo"
					maxOccurs="unbounded"/>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddAuthCallerIDCreditResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Add authorized CallerID credit: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetAuthCallerIDRechargesRequest">
		<xs:annotation>
			<xs:documentation>Get authorized CallerID recharges history: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Caller-ID record ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAuthCallerIDRechargesResponse"
		type="messagesInfo:GetAuthCallerIDCreditResponseType">
		<xs:annotation>
			<xs:documentation>Get authorized CallerID recharges history: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetupExtensionRequest">
		<xs:annotation>
			<xs:documentation>Set extension type parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:choice>
					<xs:element name="phoneTerminal" type="extensionData:PhoneTerminal"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Phone terminal extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="queue" type="extensionData:Queue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="queueCenter" type="extensionData:QueueCenterInfo"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue center extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IVR" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Interactive voice response
								extension</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="extensionData:IVR">
									<xs:sequence>
										<xs:element name="cloneID" type="common:positiveInteger"
											minOccurs="0">
											<xs:annotation>
												<xs:documentation>Clone IVR settings from extension
												ID</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="voicemailCenter" minOccurs="0" maxOccurs="0">
						<xs:annotation>
							<xs:documentation>Voicemail center extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="conference" type="extensionData:ConferenceInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Conference extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="callback" minOccurs="0" maxOccurs="0">
						<xs:annotation>
							<xs:documentation>Call callback extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="callingCard" minOccurs="0" maxOccurs="0">
						<xs:annotation>
							<xs:documentation>Calling card extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="intercomPaging" minOccurs="0" maxOccurs="0">
						<xs:annotation>
							<xs:documentation>Intercom/paging extension</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetupExtensionResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set extension type parameters: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetExtensionSettingsRequest">
		<xs:annotation>
			<xs:documentation>Get extension type parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetExtensionSettingsResponse">
		<xs:annotation>
			<xs:documentation>Get extension type parameters: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="extensionType" default="term" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extension type</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="term"/>
							<xs:enumeration value="queue"/>
							<xs:enumeration value="ivr"/>
							<xs:enumeration value="voicecenter"/>
							<xs:enumeration value="conference"/>
							<xs:enumeration value="callback"/>
							<xs:enumeration value="callcard"/>
							<xs:enumeration value="intercom"/>
							<xs:enumeration value="queuecenter"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:choice>
					<xs:element name="phoneTerminal" type="extensionData:ExtendedPhoneTerminal"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Phone terminal extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="queue" type="extensionData:ExtendedQueue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IVR" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Interactive voice response
								extension</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="extensionData:IVR">
									<xs:sequence>
										<xs:element name="cloneID" type="common:positiveInteger"
											minOccurs="0">
											<xs:annotation>
												<xs:documentation>Clone IVR settings from
												extensionID</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="voicemailCenter" type="extensionData:VoicemailInfo"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Voicemail center extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="queueCenter" type="extensionData:QueueCenterInfo"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue login center extension </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="conference" type="extensionData:ConferenceInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Conference extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="callback" minOccurs="0" maxOccurs="0">
						<xs:annotation>
							<xs:documentation>Call callback extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="callingCard" minOccurs="0" maxOccurs="0">
						<xs:annotation>
							<xs:documentation>Calling card extension</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="intercomPaging" minOccurs="0" maxOccurs="0">
						<xs:annotation>
							<xs:documentation>Intercom/paging extension</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetVoicemailRequest">
		<xs:annotation>
			<xs:documentation>Set voicemail parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:Voicemail"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetVoicemailResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set voicemail params: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetVoicemailSettingsRequest">
		<xs:annotation>
			<xs:documentation>Get voicemail parameters:request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetVoicemailSettingsResponse"
		type="messagesInfo:GetVoicemailSettingsResponseType">
		<xs:annotation>
			<xs:documentation>Get voicemail parameters:request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetConferenceRequest">
		<xs:annotation>
			<xs:documentation>Set conference parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:Conference"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetConferenceResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set conference parameters: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetConferenceSettingsRequest">
		<xs:annotation>
			<xs:documentation>Get conference parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetConferenceSettingsResponse"
		type="messagesInfo:GetConferenceSettingsResponseType">
		<xs:annotation>
			<xs:documentation>Get conference parameters: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetCallRecordingRequest">
		<xs:annotation>
			<xs:documentation>Set call recording parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:CallRecording"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetCallRecordingResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set call recording parameters: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetCallRecordingSettingsRequest">
		<xs:annotation>
			<xs:documentation>Get call recording parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCallRecordingSettingsResponse"
		type="messagesInfo:GetCallRecordingSettingsResponseType">
		<xs:annotation>
			<xs:documentation>Get call recording parameters: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetFaxCenterRequest" type="extensionData:FaxCenter">
		<xs:annotation>
			<xs:documentation>Set fax center parameters: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetFaxCenterResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set conference parameters: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetFaxCenterSettingsRequest">
		<xs:annotation>
			<xs:documentation>Get fax center parameters: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Extension user identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFaxCenterSettingsResponse"
		type="messagesInfo:GetFaxCenterSettingsResponseType">
		<xs:annotation>
			<xs:documentation>Get fax center parameters: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AssignQueueAgentRequest">
		<xs:annotation>
			<xs:documentation>Assign queue agent: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Extension client ID. Extension must be of type phone terminal</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="queueID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue client ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue client identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="penalty" type="common:integer" default="0" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Queue agent penalty; its value is between 0 and 100
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="supervisor" type="common:boolean" default="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Supervisor</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="auth" type="common:boolean" default="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Require authorization to connect to
							queue.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PIN" type="common:string" nillable="0" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Queue login PIN </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssignQueueAgentResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Assign queue agent: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UnassignQueueAgentRequest">
		<xs:annotation>
			<xs:documentation>Unassign queue agent: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Phone terminal extension user ID or remote agent
							ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="queueID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnassignQueueAgentResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Unassign queue agent: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetQueueAgentRequest">
		<xs:annotation>
			<xs:documentation>Set queue agent preferences: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="supervisor" type="common:boolean"/>
				<xs:element name="penalty" type="common:integer"/>
				<xs:choice>
					<xs:element name="queueID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="queueIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Phone terminal extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string">
						<xs:annotation>
							<xs:documentation>Phone terminal extension user
								identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetQueueAgentResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set queue agent preferences: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetQueueMemberRequest">
		<xs:annotation>
			<xs:documentation>Set queue member preferences: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="auth" type="common:boolean">
					<xs:annotation>
						<xs:documentation>Require authorization to connect to queue
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PIN" type="common:string">
					<xs:annotation>
						<xs:documentation>Queue login PIN </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Phone terminal extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Phone terminal extension user
								identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetQueueMemberResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set queue member preferences: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetQueueAgentsRequest">
		<xs:annotation>
			<xs:documentation>Get queue agents list: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Queue extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="filter" default="all" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Filter agents by type: local, remote or all. Filter is
							default set to all in order to get all agents assigned to queue
							extension. </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="common:string">
							<xs:enumeration value="all"/>
							<xs:enumeration value="local"/>
							<xs:enumeration value="remote"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetQueueAgentsResponse" type="messagesInfo:GetQueueAgentsResponseType">
		<xs:annotation>
			<xs:documentation>Get queue agents list: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetQueueMembershipRequest">
		<xs:annotation>
			<xs:documentation>Get queues for phone terminal membership: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Phone terminal extension user ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Phone terminal extension user
							identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetQueueMembershipResponse" type="messagesInfo:GetQueueMembershipResponseType">
		<xs:annotation>
			<xs:documentation>Get queues for phone terminal membership: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AssignQueueRemoteAgentRequest">
		<xs:annotation>
			<xs:documentation>Assign queue remote agent: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:RemoteAgent">
					<xs:sequence>
						<xs:element name="PIN" type="common:string" nillable="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>PIN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="auth" type="common:boolean" default="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Require authorization before connecting to
									queue</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="queueID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Queue extension user ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="identifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Extension user identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssignQueueRemoteAgentResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Assign queue remote agent: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetQueueRemoteAgentRequest">
		<xs:annotation>
			<xs:documentation>Set queue remote agent preferences: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="extensionData:RemoteAgent">
					<xs:sequence>
						<xs:element name="queueID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension queue ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="queueIdentifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Extension queue identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="auth" type="common:boolean" default="false" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Require authorization before connecting to
									queue.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PIN" type="common:string" nillable="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>PIN</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetQueueRemoteAgentResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set queue remote agent preferences: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetExtensionGroupsRequest">
		<xs:annotation>
			<xs:documentation>Get list of group IDs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Extension user ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string">
						<xs:annotation>
							<xs:documentation>Extension user identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="share" type="common:boolean">
					<xs:annotation>
						<xs:documentation>Groups that this extension can share info
							with</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetExtensionGroupsResponse">
		<xs:annotation>
			<xs:documentation>Get IDs of all groups that the extension is part of</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="groups" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>List of groups</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="common:positiveInteger">
								<xs:annotation>
									<xs:documentation>ID of group</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="name" type="common:string">
								<xs:annotation>
									<xs:documentation>Name of group</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="code" type="common:string">
								<xs:annotation>
									<xs:documentation>Code of the group</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="status" type="common:positiveInteger">
								<xs:annotation>
									<xs:documentation>Status of the group</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
