com.openexchange.voipnow.json/source/wsdl/PBX/PBXData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://4psa.com/PBXData.xsd/2.5.1" xmlns:mstns="http://4psa.com/PBXData.xsd/2.5.1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://4psa.com/Common.xsd/2.5.1"
	targetNamespace="http://4psa.com/PBXData.xsd/2.5.1" elementFormDefault="qualified" id="PBXData">
	<xs:import namespace="http://4psa.com/Common.xsd/2.5.1" schemaLocation="../Common.xsd"/>
	<xs:complexType name="DeviceInfo">
		<xs:annotation>
			<xs:documentation>Phone provisioning data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Friendly name of the device</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IP" type="common:ip" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provisioning system IP or hostname</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneModel" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique ID of the equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firmware" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Firmware unique id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firmwareVersion" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Firmware version</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneMAC" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone MAC in format XX:XX:XX:XX:XX:XX</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adminUsername" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone admin username</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adminPass" type="common:password" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone admin password </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateInterval" type="common:integer" default="10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone update interval: {updateInterval} minutes/seconds (according to phone settings). Default: 10 minutes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="protocol" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Updated protocol</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="https"/>
						<xs:enumeration value="http"/>
						<xs:enumeration value="tftp"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MACBased" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Use MAC based provisioning</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tplID" minOccurs="0" type="common:integer">
				<xs:annotation>
					<xs:documentation>ID of the template to use when generating provision files. Default Server Default </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="passType" minOccurs="0" type="common:integer">
				<xs:annotation>
					<xs:documentation>Password type. 0 for None, 1 for Auto Generated, 2 for Manual. Default: 0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" minOccurs="0" type="common:string">
				<xs:annotation>
					<xs:documentation>Notes about the device</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="common:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Device status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="connectionType" minOccurs="0" type="common:string">
				<xs:annotation>
					<xs:documentation>Equipment connection type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="connectionIP" minOccurs="0" type="common:string">
				<xs:annotation>
					<xs:documentation>Connection IP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mask" minOccurs="0" type="common:string">
				<xs:annotation>
					<xs:documentation>Netmask</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gateway" minOccurs="0" type="common:string">
				<xs:annotation>
					<xs:documentation>Gateway</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeviceExtension">
		<xs:annotation>
			<xs:documentation>Phone provisioning data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extensionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID of the extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="line" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Line on which the extension is assigned</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Industry">
		<xs:annotation>
			<xs:documentation>Industry data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger">
				<xs:annotation>
					<xs:documentation>Industry ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Industry name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="standardZoneCode" type="common:text">
				<xs:annotation>
					<xs:documentation>Standard zone code for minimized window.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="standardZoneHeight" type="common:positiveInteger" default="100">
				<xs:annotation>
					<xs:documentation>Standard zone height (in pixels); default 100  and can be set up to 200.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extendedZoneCode" type="common:text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extended zone code that applies to expanded advertising window. This code is optional. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extendedZoneHeight" type="common:positiveInteger" default="450"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extended zone height(in pixels); default value is 450 and can be set up to 800. This  value is optional.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Language">
		<xs:annotation>
			<xs:documentation>Interface language packs data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Language name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="common:code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Language code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Language pack version</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeInterval">
		<xs:annotation>
			<xs:documentation>Time interval data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startTime" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start time in format: 00:00.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endTime" type="xs:time" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End time in format: 00:00.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startDay" type="xs:unsignedInt" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start date: day of month. Default value 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDay" type="xs:unsignedInt" default="31" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End date: day of month. Default value 31.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startWkday" type="xs:unsignedInt" default="2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start weekday. Default value: 2 (Monday).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endWkday" type="xs:unsignedInt" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End weekday. Default value: 1 (Sunday)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="month" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Template">
		<xs:annotation>
			<xs:documentation>User template data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger">
				<xs:annotation>
					<xs:documentation>User template ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Template name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userID" type="common:positiveInteger">
				<xs:annotation>
					<xs:documentation>Template owner ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userName" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Template owner name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userLevel" type="common:integer">
				<xs:annotation>
					<xs:documentation>Possible values: 10 (reseller), 50 (client), 100 (extension).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chargingPlanID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charging plan ID </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chargingPlan" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charging plan name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="users" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of users created with template</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extensionType" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdvertisingTemplate">
		<xs:annotation>
			<xs:documentation>User template data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger">
				<xs:annotation>
					<xs:documentation>User template ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Template name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userID" type="common:positiveInteger">
				<xs:annotation>
					<xs:documentation>Template owner ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userName" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Template owner name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userLevel" type="common:integer">
				<xs:annotation>
					<xs:documentation>Possible values: 10 (reseller).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="industryIDs" type="common:positiveInteger" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Industry ID </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeIntervalBlock">
		<xs:annotation>
			<xs:documentation>Time interval block data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time interval ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time interval block name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" default="interval" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The available values for the matching algorithm values are: 'day', 'interval'. Default value: interval.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="interval"/>
						<xs:enumeration value="day"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timezone" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timezone ID. Use PBX:GetTimezone method fot the list of all available timezones</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time interval owner ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Creation date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intervals" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maching time intervals number in time interval block</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Sounds">
		<xs:annotation>
			<xs:documentation>Sound data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="system" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>0: non system sounds, 1: system, -1: all files. Default -1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="common:integer" minOccurs="0"/>
			<xs:element name="folderID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound folder ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="folder" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound folder</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="musicOnHold" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>0: non music on hold sounds, 1: music on hold files, -1: all files. Default -1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Creation date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Folders">
		<xs:annotation>
			<xs:documentation>Folders data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Folder ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Folder name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userName" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="musicOnHoldSoundsNo" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of music on hold sounds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonMusicOnHoldSoundsNo" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of non music on hold sounds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Creation date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomAlert">
		<xs:annotation>
			<xs:documentation>Custom alert data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="common:string" minOccurs="0"/>
			<xs:element name="text" type="common:string" minOccurs="0"/>
			<xs:element name="priority" type="common:integer" minOccurs="0"/>
			<xs:element name="displayMethod" default="inherit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Possible values: inherit, select. Display method</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="inherit"/>
						<xs:enumeration value="select"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="displayLevel" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Inheritance level /Display to level. Possible values: 10-reseller, 50-client, 100-extension for displayMethod:select, 0-3 for displayMethod:inherit.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="10"/>
						<xs:enumeration value="50"/>
						<xs:enumeration value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="displayToOwner" type="common:boolean" default="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Display on owner account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiration" type="common:unlimitedDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Custom button expiration date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomButton">
		<xs:annotation>
			<xs:documentation>Custom button data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CustomAlert">
				<xs:sequence>
					<xs:element name="URL" type="common:domain" minOccurs="0"/>
					<xs:element name="location" default="navigation" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Possible values: navigation, content.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="navigation"/>
								<xs:enumeration value="content"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="action" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Possible values: newWindow, currentWindow.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="newWindow"/>
								<xs:enumeration value="currentWindow"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="includeResellerID" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Include reseller ID: reseller_id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="includeClientID" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Include client ID: client_id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="includeExtensionID" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Include extension ID: extension_id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="includeExtensionNo" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Include extension internal number: extension_inumber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="includeExtensionPublicNo" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Include extension public numbe: extension_pnumber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="includeChargingPlanID" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Include charging plan: billing_plan</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
