com.openexchange.oauth.provider.soap/OAuthClientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ox="http://soap.provider.oauth.openexchange.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://soap.provider.oauth.openexchange.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.provider.oauth.openexchange.com">
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="clientId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" nillable="true" type="ox:Client"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Client">
                <xs:sequence>
                    <xs:element minOccurs="1" name="contactAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="defaultScope" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="1" name="icon" nillable="true" type="ox:Icon"/>
                    <xs:element minOccurs="1" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="redirectURIs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="registrationDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="1" name="secret" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="website" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Icon">
                <xs:sequence>
                    <xs:element minOccurs="1" name="data" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="mimeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateClient">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="clientId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="1" name="clientData" nillable="true" type="ox:ClientData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ClientData">
                <xs:sequence>
                    <xs:element minOccurs="1" name="contactAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="defaultScope" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="icon" nillable="true" type="ox:Icon"/>
                    <xs:element minOccurs="1" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="redirectURIs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="website" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="1" name="groupId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" nillable="true" type="ox:Client"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unregisterClient">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="clientId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unregisterClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="revokeClientSecret">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="clientId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="revokeClientSecretResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" nillable="true" type="ox:Client"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableClient">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="clientId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableClient">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="clientId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerClient">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="clientData" nillable="true" type="ox:ClientData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="return" nillable="true" type="ox:Client"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="unregisterClientRequest">
        <wsdl:part name="parameters" element="ox:unregisterClient"/>
    </wsdl:message>
    <wsdl:message name="unregisterClientResponse">
        <wsdl:part name="parameters" element="ox:unregisterClientResponse"/>
    </wsdl:message>
    <wsdl:message name="OAuthClientServiceException">
        <wsdl:part name="parameters" element="ox:Exception"/>
    </wsdl:message>
    <wsdl:message name="revokeClientSecretRequest">
        <wsdl:part name="parameters" element="ox:revokeClientSecret"/>
    </wsdl:message>
    <wsdl:message name="revokeClientSecretResponse">
        <wsdl:part name="parameters" element="ox:revokeClientSecretResponse"/>
    </wsdl:message>
    <wsdl:message name="registerClientRequest">
        <wsdl:part name="parameters" element="ox:registerClient"/>
    </wsdl:message>
    <wsdl:message name="registerClientResponse">
        <wsdl:part name="parameters" element="ox:registerClientResponse"/>
    </wsdl:message>
    <wsdl:message name="enableClientRequest">
        <wsdl:part name="parameters" element="ox:enableClient"/>
    </wsdl:message>
    <wsdl:message name="enableClientResponse">
        <wsdl:part name="parameters" element="ox:enableClientResponse"/>
    </wsdl:message>
    <wsdl:message name="getClientByIdRequest">
        <wsdl:part name="parameters" element="ox:getClientById"/>
    </wsdl:message>
    <wsdl:message name="getClientByIdResponse">
        <wsdl:part name="parameters" element="ox:getClientByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="updateClientRequest">
        <wsdl:part name="parameters" element="ox:updateClient"/>
    </wsdl:message>
    <wsdl:message name="updateClientResponse">
        <wsdl:part name="parameters" element="ox:updateClientResponse"/>
    </wsdl:message>
    <wsdl:message name="disableClientRequest">
        <wsdl:part name="parameters" element="ox:disableClient"/>
    </wsdl:message>
    <wsdl:message name="disableClientResponse">
        <wsdl:part name="parameters" element="ox:disableClientResponse"/>
    </wsdl:message>
    <wsdl:portType name="OAuthClientServicePortType">
        <wsdl:operation name="unregisterClient">
            <wsdl:input message="ox:unregisterClientRequest" wsaw:Action="urn:unregisterClient"/>
            <wsdl:output message="ox:unregisterClientResponse" wsaw:Action="urn:unregisterClientResponse"/>
            <wsdl:fault message="ox:OAuthClientServiceException" name="Exception" wsaw:Action="urn:unregisterClientException"/>
        </wsdl:operation>
        <wsdl:operation name="revokeClientSecret">
            <wsdl:input message="ox:revokeClientSecretRequest" wsaw:Action="urn:revokeClientSecret"/>
            <wsdl:output message="ox:revokeClientSecretResponse" wsaw:Action="urn:revokeClientSecretResponse"/>
            <wsdl:fault message="ox:OAuthClientServiceException" name="Exception" wsaw:Action="urn:revokeClientSecretException"/>
        </wsdl:operation>
        <wsdl:operation name="registerClient">
            <wsdl:input message="ox:registerClientRequest" wsaw:Action="urn:registerClient"/>
            <wsdl:output message="ox:registerClientResponse" wsaw:Action="urn:registerClientResponse"/>
            <wsdl:fault message="ox:OAuthClientServiceException" name="Exception" wsaw:Action="urn:registerClientException"/>
        </wsdl:operation>
        <wsdl:operation name="enableClient">
            <wsdl:input message="ox:enableClientRequest" wsaw:Action="urn:enableClient"/>
            <wsdl:output message="ox:enableClientResponse" wsaw:Action="urn:enableClientResponse"/>
            <wsdl:fault message="ox:OAuthClientServiceException" name="Exception" wsaw:Action="urn:enableClientClientException"/>
        </wsdl:operation>
        <wsdl:operation name="getClientById">
            <wsdl:input message="ox:getClientByIdRequest" wsaw:Action="urn:getClientById"/>
            <wsdl:output message="ox:getClientByIdResponse" wsaw:Action="urn:getClientByIdResponse"/>
            <wsdl:fault message="ox:OAuthClientServiceException" name="Exception" wsaw:Action="urn:getClientByIdException"/>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <wsdl:input message="ox:updateClientRequest" wsaw:Action="urn:updateClient"/>
            <wsdl:output message="ox:updateClientResponse" wsaw:Action="urn:updateClientResponse"/>
            <wsdl:fault message="ox:OAuthClientServiceException" name="Exception" wsaw:Action="urn:updateClientException"/>
        </wsdl:operation>
        <wsdl:operation name="disableClient">
            <wsdl:input message="ox:disableClientRequest" wsaw:Action="urn:disableClient"/>
            <wsdl:output message="ox:disableClientResponse" wsaw:Action="urn:disableClientResponse"/>
            <wsdl:fault message="ox:OAuthClientServiceException" name="Exception" wsaw:Action="urn:disableClientException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OAuthClientServiceSoap11Binding" type="ox:OAuthClientServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unregisterClient">
            <soap:operation soapAction="urn:unregisterClient" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="revokeClientSecret">
            <soap:operation soapAction="urn:revokeClientSecret" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerClient">
            <soap:operation soapAction="urn:registerClient" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientById">
            <soap:operation soapAction="urn:getClientById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableClient">
            <soap:operation soapAction="urn:enableClient" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <soap:operation soapAction="urn:updateClient" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableClient">
            <soap:operation soapAction="urn:disableClient" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OAuthClientServiceSoap12Binding" type="ox:OAuthClientServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unregisterClient">
            <soap12:operation soapAction="urn:unregisterClient" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="revokeClientSecret">
            <soap12:operation soapAction="urn:revokeClientSecret" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerClient">
            <soap12:operation soapAction="urn:registerClient" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientById">
            <soap12:operation soapAction="urn:getClientById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableClient">
            <soap12:operation soapAction="urn:enableClient" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <soap12:operation soapAction="urn:updateClient" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableClient">
            <soap12:operation soapAction="urn:disableClient" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OAuthClientService">
        <wsdl:port name="OAuthClientServiceHttpSoap11Endpoint" binding="ox:OAuthClientServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/OAuthClientService"/>
        </wsdl:port>
        <wsdl:port name="OAuthClientServiceHttpSoap12Endpoint" binding="ox:OAuthClientServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/OAuthClientService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
