com.openexchange.voipnow.json/lib/source/wsdl/Report/ReportData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://4psa.com/ReportData.xsd/2.5.1"
	xmlns:mstns="http://4psa.com/ReportData.xsd/2.5.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://4psa.com/Common.xsd/2.5.1"
	targetNamespace="http://4psa.com/ReportData.xsd/2.5.1" elementFormDefault="qualified"
	id="ReportData">
	<xs:import namespace="http://4psa.com/Common.xsd/2.5.1" schemaLocation="../Common.xsd"/>
	<xs:complexType name="CallReport">
		<xs:annotation>
			<xs:documentation>Call report data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="incomingCalls" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Incoming calls report</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="total" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total number of calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="answered" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Answered calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unanswered" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unanswered calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="busy" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Busy calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failed" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Failed calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unknown" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unknown call ending</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unallowed" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unallowed calls</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="outgoingCalls" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Outgoing calls report</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="total" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Total number of calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="answered" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Answered calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unanswered" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unanswered calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="busy" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Busy calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="failed" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Failed calls</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unknown" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unknown call ending</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unallowed" type="common:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unallowed calls</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="call" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Call history</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="source" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Caller</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="destination" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Callee</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="initiated" type="common:dateTime">
							<xs:annotation>
								<xs:documentation>The time when call was initiated.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="startDate" type="common:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Call start datetime</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="duration" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Call duration (seconds)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="answerDate" type="common:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Call answer timel</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="flow" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Call flow: in, out.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="in"/>
									<xs:enumeration value="out"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="type" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Call type: local, elocal, out.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="local"/>
									<xs:enumeration value="elocal"/>
									<xs:enumeration value="out"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="disposition" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Call disposition: ANSWERED, BUSY, FAILED, NO ANSWER, UNKNOWN, NOT ALLOWED.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ANSWERED"/>
									<xs:enumeration value="BUSY"/>
									<xs:enumeration value="FAILED"/>
									<xs:enumeration value="NO ANSWER"/>
									<xs:enumeration value="UNKNOWN"/>
									<xs:enumeration value="NOT ALLOWED"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="hangupCause" type="common:integer">
							<xs:annotation>
								<xs:documentation>Hangup cause </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="networkCode" type="common:string">
							<xs:annotation>
								<xs:documentation>Network code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallCostInfo">
		<xs:annotation>
			<xs:documentation>Call cost data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cost" type="common:float" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total call cost</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profit" type="common:float" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Profit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Default system currency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalCalls" type="common:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localCall" type="common:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Local calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="elocalCall" type="common:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extended local calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalCall" type="common:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>External calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="incomingCall" type="common:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Incoming calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outgoingCall" type="common:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Outgoing calls</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserStatistics">
		<xs:annotation>
			<xs:documentation>User statistics data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="total" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of accounts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="active" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of active accounts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expired" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of expired accounts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="suspended" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of suspended accounts</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CallStatistics">
		<xs:annotation>
			<xs:documentation>Call statistics data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="total" type="common:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="duration" type="common:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call duration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cost" type="common:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call cost</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profit" type="common:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call profit</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuickStats">
		<xs:annotation>
			<xs:documentation>System statistics data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resellers" type="UserStatistics" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reseller account overview</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clients" type="UserStatistics" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Client account overview</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extensions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension account overview</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="phoneTerminal" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Phone terminal overview</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="queue" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Queue overview</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="queueCenter" type="UserStatistics">
							<xs:annotation>
								<xs:documentation>Queue center overview.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IVR" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Interactive voice response overview</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="voicemailCenter" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Voicemail center overview</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="conference" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Conference overview</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="callback" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Call callback overview</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="callingCard" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Calling card overview</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="intercomPaging" type="UserStatistics" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Intercom/paging overview</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="incomingCalls" type="CallStatistics" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Incoming calls report</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outgoingCalls" type="CallStatistics" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Outgoing calls report</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="common:string" minOccurs="0"/>
			<xs:element name="lastLogin" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last login date to 4PSA VoipNowcontrol panel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundFilesQuota" type="common:diskSpace" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound files quota: used/total </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="musicFilesQuota" type="common:diskSpace" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Music files quota: used/total</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxMsgQuota" type="common:diskSpace" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fax messages quota: used/total</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voicemailMsgQuota" type="common:diskSpace" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Voicemail messages quota: used/total</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recordedMsgQuota" type="common:diskSpace" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Recorded messages quota: used/total</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
