com.openexchange.voipnow.json/lib/source/wsdl/PBX/PBXMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://4psa.com/PBXMessages.xsd/2.5.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:data="http://4psa.com/PBXData.xsd/2.5.1" xmlns:common="http://4psa.com/Common.xsd/2.5.1"
	xmlns:messagesInfo="http://4psa.com/PBXMessagesInfo.xsd/2.5.1"
	targetNamespace="http://4psa.com/PBXMessages.xsd/2.5.1" elementFormDefault="qualified"
	id="PBXMessages">
	<xs:import namespace="http://4psa.com/PBXData.xsd/2.5.1" schemaLocation="PBXData.xsd"/>
	<xs:import namespace="http://4psa.com/PBXMessagesInfo.xsd/2.5.1"
		schemaLocation="PBXMessagesInfo.xsd"/>
	<xs:import namespace="http://4psa.com/Common.xsd/2.5.1" schemaLocation="../Common.xsd"/>
	<xs:element name="GetSystemAPISettingsRequest">
		<xs:annotation>
			<xs:documentation>Get SystemAPI settings: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSystemAPISettingsResponse">
		<xs:annotation>
			<xs:documentation>Get SystemAPI settings: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="access">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="legacyAuth" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>Allow legacy authentication</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="status" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>CallAPI control:
										enabled/disabled</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCallAPISettingsRequest">
		<xs:annotation>
			<xs:documentation>Get CallAPI settings: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCallAPISettingsResponse">
		<xs:annotation>
			<xs:documentation>Get CallAPI settings: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="access">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="legacyAuth" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>Allow legacy authentication</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="status" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>CallAPI control:
										enabled/disabled</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="auth">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="password" type="common:password">
								<xs:annotation>
									<xs:documentation>CallAPI password</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="username" type="common:string">
								<xs:annotation>
									<xs:documentation>CallAPI username</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRegionsRequest">
		<xs:annotation>
			<xs:documentation>Get all available regions for a country: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="common:string">
					<xs:annotation>
						<xs:documentation>Country code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="region" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Region name to filter result</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRegionsResponse">
		<xs:annotation>
			<xs:documentation>Get all available regions for a country: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="region" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="ID" type="common:positiveInteger" minOccurs="0"/>
							<xs:element name="name" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Region name</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="default" type="common:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Default region for chosen
										country</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTimezoneRequest">
		<xs:annotation>
			<xs:documentation>Get all available timezones: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Country code</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTimezoneResponse">
		<xs:annotation>
			<xs:documentation>Get all available timezones: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="timezone" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="ID" type="common:positiveInteger" minOccurs="0"/>
							<xs:element name="name" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Timezone description</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PingRequest" type="common:string">
		<xs:annotation>
			<xs:documentation>Ping 4PSA VoipNow server: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PingResponse" type="messagesInfo:PingResponseType">
		<xs:annotation>
			<xs:documentation>Ping 4PSA VoipNow server: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EnrollRequest">
		<xs:annotation>
			<xs:documentation>Enroll 4PSA VoipNow in third-party applications:
				request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="scope" type="common:string">
					<xs:annotation>
						<xs:documentation>The enrollment scope. Scope:automation is reserved for
							4PSA VoipNow Automation </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="URL" type="common:domain">
					<xs:annotation>
						<xs:documentation>IP/URL of the infrastructure controller that enrolls
							(master host)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="masterAuth" type="common:string">
					<xs:annotation>
						<xs:documentation>Authentication key of the master</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="masterAuthType" type="common:string">
					<xs:annotation>
						<xs:documentation>Authentication type of the master</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="param" minOccurs="0" maxOccurs="64">
					<xs:annotation>
						<xs:documentation>Pairs of name/value parameters</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="name" type="common:string" minOccurs="0"/>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnrollResponse" type="messagesInfo:EnrollmentResponseType">
		<xs:annotation>
			<xs:documentation>Enroll 4PSA VoipNow in third-party applications:
				response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WithdrawRequest">
		<xs:annotation>
			<xs:documentation>Withdraw 4PSA VoipNow in third-party applications:
				request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="enrollmentID" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Enrollment unique identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WithdrawResponse">
		<xs:annotation>
			<xs:documentation>Withdraw 4PSA VoipNow in third-party applications:
				response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Operation result</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="success"/>
							<xs:enumeration value="partial"/>
							<xs:enumeration value="failure"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpgradeVoipNowRequest" type="common:string">
		<xs:annotation>
			<xs:documentation>Upgrade 4PSA VoipNow to latest release: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpgradeVoipNowResponse" type="messagesInfo:UpgradeVoipNowResponseType">
		<xs:annotation>
			<xs:documentation>Upgrade 4PSA VoipNow to latest release: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpgradeHistoryRequest" type="common:string">
		<xs:annotation>
			<xs:documentation>Upgrade 4PSA VoipNow history report: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpgradeHistoryResponse" type="messagesInfo:UpgradeHistoryResponseType">
		<xs:annotation>
			<xs:documentation>Upgrade 4PSA VoipNow history report: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetSchemaVersionsRequest" type="common:string">
		<xs:annotation>
			<xs:documentation>Get all available schema versions: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetSchemaVersionsResponse" type="messagesInfo:GetSchemaVersionsResponseType">
		<xs:annotation>
			<xs:documentation>Get all available schema versions: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetInterfaceLangRequest" type="common:string">
		<xs:annotation>
			<xs:documentation>Get available interface languages: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetInterfaceLangResponse" type="messagesInfo:GetInterfaceLangResponseType">
		<xs:annotation>
			<xs:documentation>Get available interface languages: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetPhoneLangRequest" type="common:string">
		<xs:annotation>
			<xs:documentation>Get the list with available phone languages:
				request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetPhoneLangResponse" type="messagesInfo:GetPhoneLangResponseType">
		<xs:annotation>
			<xs:documentation>Get the list with available phone languages:
				response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetAdvertisingTemplatesRequest">
		<xs:annotation>
			<xs:documentation>Get user templates list: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Either of</xs:documentation>
				</xs:annotation>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Template ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="userLevel" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Possible values: 10 (reseller).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Template owner ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="userIdentifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Template owner identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="industryID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Industry ID that used the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetAdvertisingTemplatesResponse"
		type="messagesInfo:GetAdvertisingTemplatesResponseType">
		<xs:annotation>
			<xs:documentation>Get user templates list: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetTemplatesRequest">
		<xs:annotation>
			<xs:documentation>Get user templates list: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Either of</xs:documentation>
				</xs:annotation>
				<xs:element name="ID" type="common:positiveInteger" nillable="false" minOccurs="0">
					<xs:annotation>
						<xs:documentation>User template ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="userLevel" type="common:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Possible values: 10 (reseller), 50 (client), 100
								(extension).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extensionType" default="term" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Filter by extension type</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="term"/>
								<xs:enumeration value="queue"/>
								<xs:enumeration value="ivr"/>
								<xs:enumeration value="voicecenter"/>
								<xs:enumeration value="conference"/>
								<xs:enumeration value="callback"/>
								<xs:enumeration value="callcard"/>
								<xs:enumeration value="intercom"/>
								<xs:enumeration value="queuecenter"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Template owner ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="userIdentifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Template owner identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTemplatesResponse" type="messagesInfo:GetTemplatesResponseType">
		<xs:annotation>
			<xs:documentation>Get user templates list: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddIndustryRequest">
		<xs:annotation>
			<xs:documentation>Add industry: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="common:string">
					<xs:annotation>
						<xs:documentation>Industry name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="standardZoneCode" type="common:text">
					<xs:annotation>
						<xs:documentation>Standard zone code for minimized window</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="standardZoneHeight" type="common:positiveInteger" default="100">
					<xs:annotation>
						<xs:documentation>Standard zone height (in pixels); default value is 100 and
							can be set up to 200.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="extendedZoneCode" type="common:text" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extended zone code for expanded advertising window. This
							code is optional.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="extendedZoneHeight" type="common:positiveInteger" default="450"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extended zone height (in pixels); default value is 450 an
							d can be set up to 800. This value is optional.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddIndustryResponse">
		<xs:annotation>
			<xs:documentation>Add industry: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Object ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="result" type="xs:string">
					<xs:annotation>
						<xs:documentation>Operation result</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditIndustryRequest">
		<xs:annotation>
			<xs:documentation> Edit industry: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Object ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Industry name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="standardZoneCode" type="common:text" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Standard zone code for minimized window</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="standardZoneHeight" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Standard zone height (in pixels); this value can be set up
							to 200</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="extendedZoneCode" type="common:text" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Extended zone code for expanded advertising window.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="extendedZoneHeight" type="common:positiveInteger" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditIndustryResponse">
		<xs:annotation>
			<xs:documentation>Edit industry: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Object ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="result">
					<xs:annotation>
						<xs:documentation>Operation result; value comes from the list {'succes',
							'failure'}</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="success"/>
							<xs:enumeration value="failure"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetIndustriesRequest">
		<xs:annotation>
			<xs:documentation>Get industries: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Industry ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="filter" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Filter industries by name</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetIndustriesResponse" type="messagesInfo:GetIndustriesResponseType">
		<xs:annotation>
			<xs:documentation>Get industries: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelIndustriesRequest">
		<xs:annotation>
			<xs:documentation>Delete industries: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Industry IDs to be deleted.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelIndustriesResponse">
		<xs:annotation>
			<xs:documentation>DeleteIndustries: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="items" type="xs:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Number of items deleted.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="result">
					<xs:annotation>
						<xs:documentation>Operation result; value comes from the list {'success',
							'failure''}</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="success"/>
							<xs:enumeration value="failure"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddTimeIntervalRequest">
		<xs:annotation>
			<xs:documentation>Add time interval: request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Time interval block ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="timeInterval" type="data:TimeInterval" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Matching time intervals</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddTimeIntervalResponse" type="messagesInfo:UpdateObjectResponseType">
		<xs:annotation>
			<xs:documentation>Add time interval: response.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EditTimeIntervalRequest">
		<xs:annotation>
			<xs:documentation>Edit time interval: request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="data:TimeInterval">
					<xs:sequence>
						<xs:element name="ID" type="common:positiveInteger">
							<xs:annotation>
								<xs:documentation>Time interval block ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="intervalID" type="common:positiveInteger">
							<xs:annotation>
								<xs:documentation>Time interval ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditTimeIntervalResponse" type="messagesInfo:UpdateObjectResponseType">
		<xs:annotation>
			<xs:documentation>Edit time interval: response.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetTimeIntervalsRequest">
		<xs:annotation>
			<xs:documentation>Get time intervals: request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Time interval block ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTimeIntervalsResponse" type="messagesInfo:GetTimeIntervalsResponseType">
		<xs:annotation>
			<xs:documentation>Get time intervals: response.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelTimeIntervalRequest">
		<xs:annotation>
			<xs:documentation>Delete time interval from block: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Time interval block ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="intervalID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Time interval ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelTimeIntervalResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete time interval from block: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddTimeIntervalBlockRequest">
		<xs:annotation>
			<xs:documentation>Add time interval block: request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="common:string">
					<xs:annotation>
						<xs:documentation>Time interval block name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="type" default="interval" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The available values for the matching algorithm values
							are: 'day', 'interval'. Default value: interval.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="interval"/>
							<xs:enumeration value="day"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="timezone" type="xs:nonNegativeInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Timezone ID. Use PBX:GetTimezone method fot the list of
							all available timezones</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="timeInterval" type="data:TimeInterval" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Time intervals</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time interval owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time interval owner identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userLogin" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time interval owner login</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddTimeIntervalBlockResponse" type="messagesInfo:UpdateObjectResponseType">
		<xs:annotation>
			<xs:documentation>Add time interval block: response.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EditTimeIntervalBlockRequest">
		<xs:annotation>
			<xs:documentation>Edit time interval block: request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Time interval block ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Time interval block name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="type" default="interval" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The available values for the matching algorithm values
							are: 'day', 'interval'. Default value: interval.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="interval"/>
							<xs:enumeration value="day"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="timezone" type="xs:nonNegativeInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Timezone ID. Use PBX:GetTimezone method fot the list of
							all available timezones</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditTimeIntervalBlockResponse" type="messagesInfo:UpdateObjectResponseType">
		<xs:annotation>
			<xs:documentation>Edit time interval block: response.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetTimeIntervalBlocksRequest">
		<xs:annotation>
			<xs:documentation>Get time interval blocks: request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="filter" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Filter time interval blocks list by
							name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time interval owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time interval owner identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetTimeIntervalBlocksResponse"
		type="messagesInfo:GetTimeIntervalBlocksResponseType">
		<xs:annotation>
			<xs:documentation>Get time intervals blocks: response.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelTimeIntervalBlockRequest">
		<xs:annotation>
			<xs:documentation>Delete time interval block: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Time interval block ID</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelTimeIntervalBlockResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete time interval block: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetOwnedSoundsRequest">
		<xs:annotation>
			<xs:documentation>Get client sounds: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="folderID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set 0 for all folders.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="languageID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set 0 for all files.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="musicOnHold" type="common:integer" default="-1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>0: non music on hold sounds, 1: music on hold files, -1:
							all files. Default -1.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="system" type="common:integer" default="-1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>0: non system sounds, 1 - system sounds, -1: all files.
							Default -1.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="status" type="common:integer" default="-1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Default -1.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetOwnedSoundsResponse" type="messagesInfo:GetSoundsResponseType">
		<xs:annotation>
			<xs:documentation>Get client sounds: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetSharedSoundsRequest">
		<xs:annotation>
			<xs:documentation>Get shared sounds: request </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="own" type="common:boolean" default="true" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Filter shared sounds created by the user or all sounds to which this user has access to. Default value: true.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSharedSoundsResponse" type="messagesInfo:GetSoundsResponseType">
		<xs:annotation>
			<xs:documentation>Get inherited sounds: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetFileLanguagesRequest">
		<xs:annotation>
			<xs:documentation>Get list of languages for a sound file: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Sound file id</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFileLanguagesResponse" type="messagesInfo:GetFileLanguagesResponseType">
		<xs:annotation>
			<xs:documentation>Get list of languages for a sound file:response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetFoldersRequest">
		<xs:annotation>
			<xs:documentation>Get client list of folders: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="musicOnHold" type="common:integer" default="0" minOccurs="0">
					<xs:annotation>
						<xs:documentation>0: folders that do not contain music on hold, 1: folders
							that contain only music on hold, -1: all folders. Default
							0.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="emptyFolder" type="common:integer" default="0" minOccurs="0">
					<xs:annotation>
						<xs:documentation>0: all folders, 1: non empty folders. Default
							0.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetFoldersResponse" type="messagesInfo:GetFoldersResponseType">
		<xs:annotation>
			<xs:documentation>Get client list of folders:response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddCustomAlertRequest">
		<xs:annotation>
			<xs:documentation>Add custom alert: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="data:CustomAlert">
					<xs:sequence>
						<xs:element name="severity" default="7" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Possible values: 7 - info, 4 - warning, 0 -
									error</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="0"/>
									<xs:enumeration value="4"/>
									<xs:enumeration value="7"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:choice>
							<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Custom alert owner ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="userIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Custom alert owner
										identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddCustomAlertResponse">
		<xs:annotation>
			<xs:documentation>Add custom alert: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="code" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom alert code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditCustomAlertRequest">
		<xs:annotation>
			<xs:documentation>Edit custom alert: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="data:CustomAlert"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditCustomAlertResponse">
		<xs:annotation>
			<xs:documentation>Edit custom alert: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="code" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom alert code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCustomAlertsRequest">
		<xs:annotation>
			<xs:documentation>Get custom alerts: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Custom alert owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Custom alert owner identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="displayLevel" default="admin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Display Level</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="admin"/>
							<xs:enumeration value="reseller"/>
							<xs:enumeration value="client"/>
							<xs:enumeration value="extension"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="filter" type="common:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCustomAlertsResponse" type="messagesInfo:GetCustomAlertsResponseType">
		<xs:annotation>
			<xs:documentation>Get custom alerts: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelCustomAlertRequest">
		<xs:annotation>
			<xs:documentation>Get custom alerts: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="common:string" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelCustomAlertResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Get custom alerts: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetCustomAlertStatusRequest">
		<xs:annotation>
			<xs:documentation>Get custom alerts: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="common:string"/>
				<xs:element name="status" type="common:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetCustomAlertStatusResponse">
		<xs:annotation>
			<xs:documentation>Get custom alerts: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="code" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom button code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddCustomButtonRequest">
		<xs:annotation>
			<xs:documentation>Add custom button: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="data:CustomButton">
					<xs:sequence>
						<xs:choice>
							<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Custom alert owner ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="userIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Custom alert owner
										identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddCustomButtonResponse">
		<xs:annotation>
			<xs:documentation>Add custom button: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="code" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom alert code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditCustomButtonRequest">
		<xs:annotation>
			<xs:documentation>Edit custom button: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="data:CustomButton">
					<xs:choice>
						<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom alert owner ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="userIdentifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom alert owner identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditCustomButtonResponse">
		<xs:annotation>
			<xs:documentation>Edit custom button: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="code" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom alert code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCustomButtonsRequest">
		<xs:annotation>
			<xs:documentation>Get custom button: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Custom alert owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Custom alert owner identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="filter" type="common:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetCustomButtonsResponse" type="messagesInfo:GetCustomButtonsResponseType">
		<xs:annotation>
			<xs:documentation>Get custom button: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelCustomButtonRequest">
		<xs:annotation>
			<xs:documentation>Get custom button: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="common:string" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelCustomButtonResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Get custom button: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetCustomButtonStatusRequest">
		<xs:annotation>
			<xs:documentation>Get custom button: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="code" type="common:string"/>
				<xs:element name="status" type="common:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetCustomButtonStatusResponse">
		<xs:annotation>
			<xs:documentation>Get custom button: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="code" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Custom button code</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateLicenseRequest">
		<xs:annotation>
			<xs:documentation>Update license on 4PSA VoipNow server: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="activationCode" type="common:string">
					<xs:annotation>
						<xs:documentation>Activation code for license update</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateLicenseResponse" type="messagesInfo:UpdateObjectResponseType">
		<xs:annotation>
			<xs:documentation>Update license on 4PSA VoipNow server: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetDevicesRequest">
		<xs:annotation>
			<xs:documentation>Get all devices that are provisioned.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="userID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Devices seen by user with this ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Devices seen by user with this
								identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="ownerID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ID of the owner of the device</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assignedClientID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ID of the assigned user to the device </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assignedExtensions" type="common:positiveInteger" minOccurs="0"
					maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetDevicesResponse" type="messagesInfo:GetDevicesResponseType">
		<xs:annotation>
			<xs:documentation>Get devices response operation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddDeviceRequest">
		<xs:annotation>
			<xs:documentation>Add a new device to the system</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="data:DeviceInfo">
					<xs:sequence>
						<xs:element name="serial" type="common:string">
							<xs:annotation>
								<xs:documentation>Serial of the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ownerID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Id of the owner</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="assignedClientID" type="common:positiveInteger"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>ID of the client assigned to the
									device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="assignedExtensions" type="data:DeviceExtension"
							minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>IDs of the extensions associated with the device
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddDeviceResponse">
		<xs:annotation>
			<xs:documentation>Add device operation response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deviceID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ID of the device</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serial" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Device serial</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditDeviceRequest">
		<xs:annotation>
			<xs:documentation>Get all devices that are provisioned.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="data:DeviceInfo">
					<xs:sequence>
						<xs:element name="serial" minOccurs="0" type="common:string">
							<xs:annotation>
								<xs:documentation>Device serial
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="deviceID" type="common:integer">
							<xs:annotation>
								<xs:documentation>ID of the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ownerID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Id of the owner</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="assignedClientID" type="common:positiveInteger"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>ID of the client assigned to the
									device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="assignedExtensions" type="common:string" minOccurs="0"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>IDs of the extensions associated with the device
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditDeviceResponse">
		<xs:annotation>
			<xs:documentation>Edit device operation response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deviceID" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ID of the device</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serial" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Device serial</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetEquipmentListRequest" type="xs:string">
		<xs:annotation>
			<xs:documentation>Phone brand and model: request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetEquipmentListResponse" type="messagesInfo:GetEquipmentListResponseType">
		<xs:annotation>
			<xs:documentation>Phone brand and model: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DelDeviceRequest">
		<xs:annotation>
			<xs:documentation>Delete extensions: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="deviceID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>The ID of the device</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelDeviceResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete extensions: response</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
