com.openexchange.voipnow.json/lib/source/wsdl/Client/ClientData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://4psa.com/ClientData.xsd/2.5.1"
	xmlns:mstns="http://4psa.com/ClientData.xsd/2.5.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://4psa.com/Common.xsd/2.5.1"
	targetNamespace="http://4psa.com/ClientData.xsd/2.5.1" elementFormDefault="qualified"
	id="ClientData">
	<xs:import namespace="http://4psa.com/Common.xsd/2.5.1" schemaLocation="../Common.xsd"/>
	<xs:complexType name="ClientInfo">
		<xs:annotation>
			<xs:documentation>Client account data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="company" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Company name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="login" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Username</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="passwordAuto" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Password auto generation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="password" type="common:password" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User password</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="passwordStrength" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Password strength for password validation</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="low"/>
						<xs:enumeration value="medium"/>
						<xs:enumeration value="high"/>
						<xs:enumeration value="veryHigh"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="forceUpdate" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Force user update on duplicate login (new login computed)  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phone" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fax" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fax</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="common:email" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Email address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>City</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pcode" type="common:pcode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Postal/ZIP code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="country" type="common:code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="region" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Region ID. Use PBX:GetRegions method fot the list of all available regions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timezone" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timezone ID. Use PBX:GetTimezone method fot the list of all available timezones</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceLang" type="common:code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interface language</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="notes" type="common:text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User notes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="serverID" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique request location identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chargingIdentifier" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charging identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtendedClientInfo">
		<xs:annotation>
			<xs:documentation>Client account details data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ClientInfo">
				<xs:sequence>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>User ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User status</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneStatus" default="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User phone status</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="1">
									<xs:annotation>
										<xs:documentation>Customer can dial out and receive calls</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="16">
									<xs:annotation>
										<xs:documentation>Customer can be called and can call internally</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="32">
									<xs:annotation>
										<xs:documentation>Customer can be called only</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="64">
									<xs:annotation>
										<xs:documentation>Customer can not use phone service</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cpAccess" type="common:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User control panel access</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chargingPlanID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Charging plan ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chargingPlanIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Charging plan identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chargingPlan" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Charging plan name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentName" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="templateID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>User template ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="crDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Creation date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unique client identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scope" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Scope identifier for the enrollment server. Scope:automation is reserved for VoipNow Automation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="link" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="resourceID" type="common:integer" default="1"
									minOccurs="0">
									<xs:annotation>
										<xs:documentation>Linkage resource identifier</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="UUID" type="common:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Remote linkage user identifier</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="accountFlag" default="noneditablelogin" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Account flag. Possible values: noneditablelogin</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="noneditablelogin"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ClientPLInfo">
		<xs:annotation>
			<xs:documentation>Client permissions and limits data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="permsManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Permission and limit Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extensionManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extFeatureManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension Feature Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sipManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone extension SIP management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IMManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IM Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chargingPlanManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charging Plan Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone Numbers Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callAPIManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call API Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callerIDManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CallerID Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MyVoipNowManag" default="none" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MyVoipNow Management;value comes from list: none, standard, premium. Default is none.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="premium"/>
						<xs:enumeration value="standard"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProvisionManag" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provision Management;value comes from list: 0 for None, 2 for View , 4 for Modify. Default  is 0.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="phoneExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of phone terminal extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="queueExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of queue extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ivrExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of IVR extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voicemailExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of voicemail center extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="queuecenterExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of queue center extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="confExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of conference extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callbackExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Callback extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callbackCallerIDMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Callback Caller-IDs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callCardExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Calling Card extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callCardCodesMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Calling Card codes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intercomExtMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Intercom/Paging extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentCalls" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum public concurrent calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentInternalCalls" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum internal concurrent calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="queueMembersMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of queue members</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentText2Speech" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum concurrent text to speech. Available only when 'Allow text to speech' is set in Unifies Communications settings: System preferences</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailboxMax" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of mailboxes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailboxSize" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum size of a Voicemail mailbox (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recordStorage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for call recording (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundStorage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for sound files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mohStorage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for music on hold files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxStorage" type="common:unlimitedUInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for fax files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="accountExpire" type="common:unlimitedDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Account expiration date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="accountExpireDays" type="common:unlimitedUInt" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Account expiration number of days counted from setup</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateClientPLInfo">
		<xs:annotation>
			<xs:documentation>Client permissions and limits data used when updateding the client limits and permissions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="permsManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Permission and limit Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extensionManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extFeatureManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Extension Feature Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sipManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone extension SIP management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IMManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IM Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chargingPlanManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Charging Plan Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sound Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone Numbers Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callAPIManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Call API Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callerIDManag" type="common:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CallerID Management</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MyVoipNowManag" default="none" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MyVoipNow Management;value comes from list: none, standard, premium. Default is none.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="premium"/>
						<xs:enumeration value="standard"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProvisionManag" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provision Management;value comes from list: 0 for None, 2 for View , 4 for Modify. Default  is 0.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="phoneExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of phone terminal extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="queueExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of queue extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ivrExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of IVR extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voicemailExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of voicemail center extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="queuecenterExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of queue center extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="confExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of conference extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callbackExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Callback extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callbackCallerIDMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Callback Caller-IDs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callCardExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Calling Card extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="callCardCodesMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Calling Card codes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intercomExtMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of Intercom/Paging extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentCalls" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum public concurrent calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentInternalCalls" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum internal concurrent calls</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="queueMembersMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of queue members</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concurentText2Speech" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum concurrent text to speech. Available only when 'Allow text to speech' is set in Unifies Communications settings: System preferences</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailboxMax" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum number of mailboxes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailboxSize" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum size of a Voicemail mailbox (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recordStorage" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for call recording (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundStorage" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for sound files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mohStorage" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for music on hold files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxStorage" type="common:limit" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum disk space for fax files (MB)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="accountExpire" type="common:unlimitedDate" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Account expiration date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="accountExpireDays" type="common:unlimitedUInt" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Account expiration number of days counted from setup</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClientList">
		<xs:annotation>
			<xs:documentation>Client list data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>User ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contact name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="login" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Username</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="common:email" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Email address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identifier" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique client identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="common:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Scope identifier for the enrollment server. Scope:automation is reserved for VoipNow Automation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
