com.openexchange.voipnow.json/lib/source/wsdl/Client/ClientMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://4psa.com/ClientMessages.xsd/2.5.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clientData="http://4psa.com/ClientData.xsd/2.5.1" xmlns:common="http://4psa.com/Common.xsd/2.5.1" xmlns:messagesInfo="http://4psa.com/ClientMessagesInfo.xsd/2.5.1" targetNamespace="http://4psa.com/ClientMessages.xsd/2.5.1" elementFormDefault="qualified" id="ClientMessages">
	<xs:import namespace="http://4psa.com/ClientData.xsd/2.5.1" schemaLocation="ClientData.xsd"/>
	<xs:import namespace="http://4psa.com/ClientMessagesInfo.xsd/2.5.1" schemaLocation="ClientMessagesInfo.xsd"/>
	<xs:import namespace="http://4psa.com/Common.xsd/2.5.1" schemaLocation="../Common.xsd"/>
	<xs:element name="AddClientRequest">
		<xs:annotation>
			<xs:documentation>Add client: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="clientData:ClientInfo">
					<xs:sequence>
						<xs:element name="templateID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Client template ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="industry" type="common:string" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ID or name of the industry</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="advertisingTemplate" type="common:advertisingTemplate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Id or name of an advertising template.  Global Default or Reseller Default can be used by setting them to true. By default set to Global Default.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="channelRuleID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Outgoing routing rules group ID. Only for charging plan disabled</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="identifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique client identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="parentID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Owner ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="parentIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unique owner identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="parentLogin" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Owner login</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="chargingPlanID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Charging plan ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="chargingPlanIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unique charging plan identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="fromUser" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user ID for requests made on behalf of this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="fromUserIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user identifier for requests made on behalf of this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="verbose" type="common:boolean" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Response verbosity. Set 1 to  receive detailed information on newly created account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="notifyOnly" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mask of 4 bits to setup notification preferences ARCE (ADMIN{0/1}, RESELLER{0/1}, CLIENT{0/1}, EXTENSION{0/1})</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="scope" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Scope identifier for the enrollment server. Scope:automation is reserved for VoipNow Automation</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="linkResourceID" type="common:integer" default="1" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Linkage resource identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="linkUUID" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Remote linkage user identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dku" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Deployment keeping unit</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="accountFlag" default="noneditablelogin" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Account flag. Possible values: noneditablelogin</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="noneditablelogin"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddClientResponse">
		<xs:annotation>
			<xs:documentation>Add client: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="messagesInfo:GetClientDetailsResponseType">
					<xs:sequence>
						<xs:element name="result" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Operation result</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="success"/>
									<xs:enumeration value="partial"/>
									<xs:enumeration value="failure"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="notice" type="common:notice" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="template" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Client template</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditClientRequest">
		<xs:annotation>
			<xs:documentation>Edit client: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="clientData:ClientInfo">
					<xs:sequence>
						<xs:element name="channelRuleID" type="common:positiveInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Outgoing routing rules group ID. Only for charging plan disabled</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="industry" type="common:rule" default="0" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Company industry</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="advertisingTemplate" type="common:advertisingTemplate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Advertising template. Global Default or Reseller Default can be used by settings them to true; By default set to  Global Default</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice>
							<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Client ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="identifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Client identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="chargingPlanID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Charging plan ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="chargingPlanIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Charging plan identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:choice>
							<xs:element name="fromUser" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user ID for requests made on behalf of this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="fromUserIdentifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Context user identifier for requests made on behalf of this user.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditClientResponse">
		<xs:annotation>
			<xs:documentation>Edit client: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:updateObject">
					<xs:sequence>
						<xs:element name="identifier" type="common:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>User unique identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetClientStatusRequest">
		<xs:annotation>
			<xs:documentation>Change client status:request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="common:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Client status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="phoneStatus" default="1" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Client phone status. Default value:1.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1">
								<xs:annotation>
									<xs:documentation>Customer can dial out and receive calls</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="16">
								<xs:annotation>
									<xs:documentation>Customer can be called and can call internally</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="32">
								<xs:annotation>
									<xs:documentation>Customer can be called only</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="64">
								<xs:annotation>
									<xs:documentation>Customer can not use phone service</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="scope" type="common:string" default="automation" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Scope identifier for the enrollment server. Scope:automation is reserved for VoipNow Automation</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Client ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string">
						<xs:annotation>
							<xs:documentation>Client identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetClientStatusResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Change client status: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetClientCpAccessRequest">
		<xs:annotation>
			<xs:documentation>Change client control panel access:request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cpAccess" type="common:boolean">
					<xs:annotation>
						<xs:documentation>Client status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>Client ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string">
						<xs:annotation>
							<xs:documentation>Client identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetClientCpAccessResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Change client control panel access: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetClientsRequest">
		<xs:annotation>
			<xs:documentation>Get clients: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Either of</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="templateID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Client template ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serverID" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set CTRLPANEL to filter only account added from 4PSA VoipNow control panel</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="filter" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Filter client list by name, company, email, login</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="scope" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Scope identifier for the enrollment server. Scope:automation is reserved for VoipNow Automation</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="parentID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Owner identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetClientsResponse" type="messagesInfo:GetClientResponseType">
		<xs:annotation>
			<xs:documentation>Get clients: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetClientDetailsRequest">
		<xs:annotation>
			<xs:documentation>Get client acccount details: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Either of</xs:documentation>
			</xs:annotation>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Client ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Client identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetClientDetailsResponse">
		<xs:annotation>
			<xs:documentation>Get client account details: response</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="messagesInfo:GetClientDetailsResponseType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelClientRequest">
		<xs:annotation>
			<xs:documentation>Delete clients: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Client IDs</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Client identifiers</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DelClientResponse" type="common:delObject">
		<xs:annotation>
			<xs:documentation>Delete clients: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SetClientPLRequest">
		<xs:annotation>
			<xs:documentation>Set client preferences and limits: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="clientData:ClientPLInfo">
					<xs:sequence>
						<xs:choice>
							<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Client ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="identifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Client identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetClientPLResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Set client preferences and limits: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdateClientPLRequest">
		<xs:annotation>
			<xs:documentation>Update client preferences and limits: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="clientData:UpdateClientPLInfo">
					<xs:sequence>
						<xs:choice>
							<xs:element name="ID" type="common:positiveInteger" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Client ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="identifier" type="common:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Client identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateClientPLResponse" type="common:updateObject">
		<xs:annotation>
			<xs:documentation>Update client preferences and limits: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GetClientPLRequest">
		<xs:annotation>
			<xs:documentation>Get client preferences and limits: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="ID" type="common:positiveInteger">
					<xs:annotation>
						<xs:documentation>Client ID</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="identifier" type="common:string">
					<xs:annotation>
						<xs:documentation>Client identifier</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetClientPLResponse" type="messagesInfo:GetClientPLResponseType">
		<xs:annotation>
			<xs:documentation>Get client preferences and limits: response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MoveClientsRequest">
		<xs:annotation>
			<xs:documentation>Move clients to a specific reseller account: request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="resellerID" type="common:positiveInteger">
						<xs:annotation>
							<xs:documentation>New owner ID for client accounts </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resellerIdentifier" type="common:string">
						<xs:annotation>
							<xs:documentation>New owner identifier for client accounts </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:choice>
					<xs:element name="chargingPlanID" type="common:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Charging plan ID associated with moved clients</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="chargingPlanIdentifier" type="common:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Charging plan identifier associated with moved clients</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:choice>
					<xs:element name="ID" type="common:positiveInteger" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Client IDs</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifier" type="common:string" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Client identifiers</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MoveClientsResponse" type="messagesInfo:MoveClientsResponseType">
		<xs:annotation>
			<xs:documentation>Move clients to a specific reseller account: response</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
