com.openexchange.voipnow.json/lib/source/wsdl/Client/Client.wsdl

<?xml version="1.0"?>
<definitions xmlns:import7="http://4psa.com/HeaderData.xsd/2.5.1" xmlns:tns="http://4psa.com/Client/2.5.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import0="http://4psa.com/ClientMessages.xsd/2.5.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="Client" targetNamespace="http://4psa.com/Client/2.5.1">
	<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">You can add new clients, delete the old ones, edit or query the desired clients.</documentation>
	<types>
		<xsd:schema>
			<xsd:import schemaLocation="ClientMessages.xsd" namespace="http://4psa.com/ClientMessages.xsd/2.5.1"/>
			<xsd:import schemaLocation="../HeaderData.xsd" namespace="http://4psa.com/HeaderData.xsd/2.5.1"/>
		</xsd:schema>
	</types>
	<message name="addClientIn">
		<part name="messagePart" element="import0:AddClientRequest"/>
	</message>
	<message name="addClientOut">
		<part name="messagePart" element="import0:AddClientResponse"/>
	</message>
	<message name="addClientInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="addClientOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="editClientIn">
		<part name="messagePart" element="import0:EditClientRequest"/>
	</message>
	<message name="editClientOut">
		<part name="messagePart" element="import0:EditClientResponse"/>
	</message>
	<message name="editClientInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="editClientOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="setClientStatusIn">
		<part name="messagePart" element="import0:SetClientStatusRequest"/>
	</message>
	<message name="setClientStatusOut">
		<part name="messagePart" element="import0:SetClientStatusResponse"/>
	</message>
	<message name="setClientStatusInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="setClientStatusOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="setClientCpAccessIn">
		<part name="messagePart" element="import0:SetClientCpAccessRequest"/>
	</message>
	<message name="setClientCpAccessOut">
		<part name="messagePart" element="import0:SetClientCpAccessResponse"/>
	</message>
	<message name="setClientCpAccessInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="setClientCpAccessOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="getClientsIn">
		<part name="messagePart" element="import0:GetClientsRequest"/>
	</message>
	<message name="getClientsOut">
		<part name="messagePart" element="import0:GetClientsResponse"/>
	</message>
	<message name="getClientsInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="getClientsOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="getClientDetailsIn">
		<part name="messagePart" element="import0:GetClientDetailsRequest"/>
	</message>
	<message name="getClientDetailsOut">
		<part name="messagePart" element="import0:GetClientDetailsResponse"/>
	</message>
	<message name="getClientDetailsInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="getClientDetailsOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="delClientIn">
		<part name="messagePart" element="import0:DelClientRequest"/>
	</message>
	<message name="delClientOut">
		<part name="messagePart" element="import0:DelClientResponse"/>
	</message>
	<message name="delClientInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="delClientOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="setClientPLIn">
		<part name="messagePart" element="import0:SetClientPLRequest"/>
	</message>
	<message name="setClientPLOut">
		<part name="messagePart" element="import0:SetClientPLResponse"/>
	</message>
	<message name="setClientPLInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="setClientPLOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="updateClientPLIn">
		<part name="messagePart" element="import0:UpdateClientPLRequest"/>
	</message>
	<message name="updateClientPLOut">
		<part name="messagePart" element="import0:UpdateClientPLResponse"/>
	</message>
	<message name="updateClientPLInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="updateClientPLOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="getClientPLIn">
		<part name="messagePart" element="import0:GetClientPLRequest"/>
	</message>
	<message name="getClientPLOut">
		<part name="messagePart" element="import0:GetClientPLResponse"/>
	</message>
	<message name="getClientPLInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="getClientPLOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<message name="moveClientsIn">
		<part name="messagePart" element="import0:MoveClientsRequest"/>
	</message>
	<message name="moveClientsOut">
		<part name="messagePart" element="import0:MoveClientsResponse"/>
	</message>
	<message name="moveClientsInHeader1">
		<part name="headerPart" element="import7:userCredentials"/>
	</message>
	<message name="moveClientsOutHeader1">
		<part name="headerPart" element="import7:serverInfo"/>
	</message>
	<portType name="ClientInterface">
		<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">You can add new clients, delete the old ones, edit or query the desired clients.</documentation>
		<operation name="AddClient">
			<input message="tns:addClientIn"/>
			<output message="tns:addClientOut"/>
		</operation>
		<operation name="EditClient">
			<input message="tns:editClientIn"/>
			<output message="tns:editClientOut"/>
		</operation>
		<operation name="SetClientStatus">
			<input message="tns:setClientStatusIn"/>
			<output message="tns:setClientStatusOut"/>
		</operation>
		<operation name="SetClientCpAccess">
			<input message="tns:setClientCpAccessIn"/>
			<output message="tns:setClientCpAccessOut"/>
		</operation>
		<operation name="GetClients">
			<input message="tns:getClientsIn"/>
			<output message="tns:getClientsOut"/>
		</operation>
		<operation name="GetClientDetails">
			<input message="tns:getClientDetailsIn"/>
			<output message="tns:getClientDetailsOut"/>
		</operation>
		<operation name="DelClient">
			<input message="tns:delClientIn"/>
			<output message="tns:delClientOut"/>
		</operation>
		<operation name="SetClientPL">
			<input message="tns:setClientPLIn"/>
			<output message="tns:setClientPLOut"/>
		</operation>
		<operation name="UpdateClientPL">
			<input message="tns:updateClientPLIn"/>
			<output message="tns:updateClientPLOut"/>
		</operation>
		<operation name="GetClientPL">
			<input message="tns:getClientPLIn"/>
			<output message="tns:getClientPLOut"/>
		</operation>
		<operation name="MoveClients">
			<input message="tns:moveClientsIn"/>
			<output message="tns:moveClientsOut"/>
		</operation>
	</portType>
	<binding name="Client" type="tns:ClientInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AddClient">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:addClientIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:addClientInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:addClientOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="EditClient">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:editClientIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:editClientInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:editClientOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="SetClientStatus">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:setClientStatusIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:setClientStatusInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:setClientStatusOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="SetClientCpAccess">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:setClientCpAccessIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:setClientCpAccessInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:setClientCpAccessOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="GetClients">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:getClientsIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:getClientsInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:getClientsOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="GetClientDetails">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:getClientDetailsIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:getClientDetailsInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:getClientDetailsOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="DelClient">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:delClientIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:delClientInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:delClientOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="SetClientPL">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:setClientPLIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:setClientPLInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:setClientPLOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="UpdateClientPL">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:updateClientPLIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:updateClientPLInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:updateClientPLOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="GetClientPL">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:getClientPLIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:getClientPLInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:getClientPLOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
		<operation name="MoveClients">
			<soap:operation soapAction="http://4psa.com/Client/2.5.1:moveClientsIn" style="document"/>
			<input>
				<soap:body use="literal"/>
				<soap:header message="tns:moveClientsInHeader1" part="headerPart" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
				<soap:header message="tns:moveClientsOutHeader1" part="headerPart" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ClientPort">
		<port name="ClientPort" binding="tns:Client">
			<soap:address location="https://192.168.32.222:443/soap2/client_agent.php"/>
		</port>
	</service>
</definitions>
